<%- include("../partials/head_start") %>
<title>Lotte Finance - Point Avenue</title>
<meta name="keywords" content="Camp, Summer Boarding Camp, Point Avenue">
<meta name="title" content="Summer Boarding Camp - Point Avenue">
<meta property="og:title" content="Summer Boarding Camp - Point Avenue">

<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/layout.css">
<link rel="stylesheet" type="text/css" href="/css/sub.css">

<script language="JavaScript" type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/swiper.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/common.js?v=20210604a"></script>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-boarding-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub lotte_wrap">
  <%- include("../partials/gnb") %>
  <!-- container :: start -->
	<div class="container">
		
		<section>
			<div class="section_inner">
				<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/notice/lotte-img.png" alt="" style="width:100%;">
			</div>
		</section>
		
	</div>
	<!--container :: end-->
    <%- include("../partials/footer") %>
		<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>