<%- include("../../partials/head_start") %>
<title>Articles - Point Avenue</title>
<meta name="keywords" content="Articles, PointAve">
<meta name="title" content="Point Avenue">
<meta property="og:title" content="Point Avenue">

<%- include("../../partials/common_styles") %>
<%- include("../../partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/admission-consulting/admission-consulting.js"></script>



<script>
  const articles = <%- JSON.stringify(articles) %>;
</script>
<%- include("../../partials/head_end") %>
<%- include("../../partials/body_start") %>

<div class="wrap sub news newsletter_list">
  <%- include("../../partials/gnb") %>
  <!-- container :: start -->
		<div class="container">
			<section class="visual_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01">Articles</h2>
					</div>
				</div>
			</section>
			
			<section class="newsletter_wrap">
				<div class="section_inner">
          <div class="section_header" style="display: flex;justify-content: space-between;">
            <h3 class="title_r_02 section_title">Articles</h3>
            <div class="filter_article_block">
							<a href="javascript:void(0);" class="filter_article" >Filter</a>
							<div class="filter_list_wrap">
								<ul class="filter_list">
									<% 
										const categories = news.filter(item => item.type === 'Article').map(it => it.category); 
										let categoriesUnique = [...new Set(categories)];
									%>
									<% for ( let i = 0; i < categoriesUnique.length; i++){ %> 	
										<li class="filter_item">
											<div class="checkbox_wrap">
												<input type="checkbox" id="article_<%- [i+1] %>" name="article" value="<%- categoriesUnique[i] %>" data-option="location">
												<label for="article_<%- [i+1] %>"><%- categoriesUnique[i] %></label>
											</div>
										</li>
										<% } %> 
								</ul>
							</div>
						</div>
          </div>
					
					<ul class="box_type_01 courses_list">
            <% 
              function formateDate(d){
								const day = new Date(d),
											year = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(day),
											month = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(day),
											date = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(day);
	
								return `${date}/${month}/${year}`;
							}
            %>
            <% for ( let i= 0; i < articles.length; i++ ) { %>
              <li class="box_type_01--item courses_item">
                <div class="box_type_01--img courses_img">
                  <a href="/news/<%= articles[i].id %>">
                    <img src="<%= articles[i].thumbnail.imageUrl %>" alt="<%= articles[i].title %>">
                  </a>
                </div>
                <div class="box_type_01--desc courses_desc_box">
                  <div class="info">
										<p class="text--gray date"><%= formateDate(articles[i].date.split('T')[0]) %></p>
									</div>
                  <a href="/news/<%= articles[i].id %>">
                    <p class="title_r_03"><%= articles[i].title %></p>
                  </a>
                  <div class="desc_text">
                    <a href="/news/<%= articles[i].id %>">
                      <%- articles[i].thumbnail.excerpt %>
                    </a>
                  </div>
                  <a href="/news/<%= articles[i].id %>" class="btn_type_01--sec">
                    <span class="btn_inner">Read More</span>
                  </a>
                </div>
						</li>
            <% } %>
					</ul>
				</div>
			</section>
			
			
		</div>
		<!--container :: end-->
    <%- include("../../partials/footer") %>
		<%- include("../../partials/common_popup") %>
    <script language="JavaScript" type="text/javascript" src="../../js/sub/news.js"></script>
</div>
    <%- include("../../partials/body_end") %>