<%- include("../partials/head_start") %>
  <title>
    <%-course.name-%> - Point Avenue
  </title>
  <meta name="keywords" content="Point Avenue, <%-course.keyword.join(',')-%>" />
  <meta name="description" content="<%-course.desc-%>" />
  <meta property="og:title" content="<%-course.name-%> - Point Avenue" />
  <meta property="og:description" content="<%-course.desc-%>" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%-course.thumbnail-%>" />

  <%- include("../partials/common_styles") %>
    <%- include("../partials/head_end") %>
      <%- include("../partials/body_start") %>
        <div class="wrap sub class_detail fundamentals">
          <%- include("../partials/gnb-vn") %>
            <!-- container :: start -->
            <div class="container">
              <section class="title_wrap">
                <div class="section_inner">
                  <div class="text_box">
                    <h2 class="title_r_01">
                      <%-course.name-%>
                    </h2>
                    <p class="text--gray">
                      <span>
                        <%-course.program-%>
                      </span> |
                      <span>
                        <%-course.age ? `Age ${course.age}` : course.grade -%>
                      </span>
                    </p>
                  </div>
                </div>
              </section>
              <section class="course_overview_wrap">
                <div class="section_inner">
                  <div class="grid_type_wrap_01">
                    <div class="video_wrap">
                      <iframe height="429" src="<%-course.offline.videoUrl-%>" title="YouTube video player"
                        frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="video_desc_wrap">
                      <h3 class="title_r_02 section_title Montserrat">
                        Tổng quan khóa học
                      </h3>
                      <div class="text s_desc Montserrat">
                        Khóa học <strong>Tranh biện Tiểu học (Cơ bản)</strong> giới thiệu cho học sinh kỹ năng thuyết trình trước đám
                        đông và các khái niệm cơ bản được sử dụng trong tranh biện. Các en sẽ được tìm hiểu và áp dụng
                        các kỹ thuật để giao tiếp hiệu quả, nâng cao tư duy phản biện và trình bài phát biểu hấp dẫn
                        trước khán giả.

                        Các em học sinh sẽ được hướng dẫn để thực hiện nghiên cứu và thảo luận về nhiều chủ đề khác
                        nhau, nhằm mở rộng vốn hiểu biết của mình. Đồng thời, các cố vấn sẽ khuyến khích và tạo cơ hội
                        để các em được trình bày ý kiến ​​của riêng mình cũng như tìm hiểu về các quan điểm khác nhau.
                      </div>
                      <div class="registration_box">
                        <p class="title_r_03">
                          <%-course.offline.registrationText-%>
                        </p>
                        <div class="btn_box">
                          <a href="<%-course.offline.enroll-%>" class="btn_type_01--sec"
                            style="width: auto; padding: 15px; margin-right: 0" target="_blank">Đăng ký làm bài test đầu vào miễn phí</a>
                          <!-- <a href="#" class="btn_type_01--sec black">Sign up for test</a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="about_course_wrap">
                <div class="section_inner">
                  <h3 class="title_r_02 section_title Montserrat">Thông tin cơ bản</h3>
                  <div class="course_detail_box">
                    <ul>
                      <li>
                        <img
                          src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/common/person_icon.png"
                          alt="" />
                        <p class="title_r_03 Montserrat">Dành cho học sinh 8 - 10 tuổi</p>
                      </li>
                      <li>
                        <img
                          src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/common/calendar_icon.png"
                          alt="" />
                        <p class="title_r_03 Montserrat">Thời gian: 17 tuần</p>
                      </li>
                      <li>
                        <img
                          src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/common/clock_icon.png"
                          alt="" />
                        <p class="title_r_03 Montserrat">Tổng thời lượng: 34 giờ học</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>

              <% if(course.offline.objective) { %>
                <section class="course_objective_wrap">
                  <div class="section_inner">
                    <h3 class="title_r_02 section_title Montserrat">Mục tiêu khóa học</h3>
                    <div class="img_box">
                      <img src="<%-course.offline.objective.image-%>" alt="" />
                    </div>
                    <div class="objective_list">
                      <ul class="ul_type_03 Montserrat">
                        <li class="Montserrat">Định nghĩa Tranh biện và tìm hiểu các từ vựng liên quan ở cấp độ Tiểu học</li>
                        <li class="Montserrat">Thể hiện năng lực tư duy phản biện nâng cao</li>
                        <li class="Montserrat">Viết và trình bày một bài phát biểu được chuẩn bị trước</li>
                        <li class="Montserrat">Làm quen với các nhóm phụ âm</li>
                        <li class="Montserrat">Hợp tác và giao tiếp với các bạn cùng lớp</li>
                      </ul>
                    </div>
                  </div>
                </section>
                <% } %>
                  <% if(course.offline.books) { %>
                    <section class="course_books_wrap">
                      <div class="section_inner">
                        <h3 class="title_r_02 section_title Montserrat">Giáo trình</h3>
                        <div class="img_box">
                          <img src="<%-course.offline.books.image-%>" alt="" />
                        </div>
                        <div class="books_list">
                          <ul class="ul_type_03 Montserrat">
                            <li class="Montserrat">
                              <strong>Speakers’ Club: Public Speaking for Young People</strong>: cuốn sách kết hợp những ý tưởng thiết thực và các hoạt động vui nhộn, nhằm giới thiệu các kỹ năng thiết yếu, rèn thói quen chuẩn bị kĩ và chú ý đến từng chi tiết để có một bài phát biểu thành công.
                            </li>
                            <li class="Montserrat">
                              <strong>Debate Pro Junior: Book 1</strong>: được thiết kế để giới thiệu học sinh với nhiều chủ đề khác nhau, và dạy các em cách trình bày ý kiến của mình ​​về những chủ đề này.
                            </li>
                          </ul>
                        </div>
                      </div>
                    </section>
                    <% } %>
                      <section class="locations_wrap">
                        <div class="section_inner">
                          <h3 class="title_r_02 section_title Montserrat">Địa chỉ</h3>
                          <!-- locations 리스트 swiper-->
                          <%- include("../partials/locations-list-vn") %>
                        </div>
                      </section>
            </div>
            <!--container :: end-->
            <%- include("../partials/footer") %>
              <%- include("../partials/common_popup") %>
        </div>

        <script language="JavaScript" type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/swiper.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/common.js?v=20210604a"></script>
        <script language="JavaScript" type="text/javascript"
          src="/js/sub/point-avenue/all-elementary-courses.js"></script>
        <%- include("../partials/body_end") %>