<%- include("../partials/head_start") %>
<title>Online Learning Courses - Point Avenue</title>
<meta name="keywords" content="Courses, Online Learning, Point Avenue">
<meta name="title" content="Summer Boarding CaOnline Learning Courses - Point Avenue">
<meta property="og:title" content="Online Learning Courses - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-boarding-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub online_learning summer">
  <%- include("../partials/gnb") %>
  <!-- container :: start -->
		<div class="container">
			<section class="visual_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01">Access world-class education from your home </h2>
					</div>
				</div>
			</section>
			<section class="camp_info_wrap">
				<div class="section_inner">
					<div class="grid_type_wrap_01">
						<div class="video_article">
							<div class="article_box">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/qGrEEiIPO3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
						<div class="text_article">
							<h3 class="title_r_02 section_title">Point Avenue Online Learning</h3>
							<div class="text">
								Our virtual classroom allows you to take your class anywhere! You can securely manage your class sessions and join the virtual classroom through the learning management system, directly access materials on the whiteboard and engage in the class with interactive features. 
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="why_choose">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Why choose Point Avenue Online Learning?</h3>
					<ul class="box_type_01 asset_list video_list">
						<li class="asset_item asset_01">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/online-learning/ic-location.png" alt="">
							<p class="title_r_03">Join classes from anywhere </p>
						</li>
						<li class="asset_item asset_02">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/online-learning/ic-hat34.png" alt="">
							<p class="title_r_03">Learn from world-leading educators</p>
						</li>
						<li class="asset_item asset_03">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/online-learning/ic-laptop.png" alt="">
							<p class="title_r_03">Access diverse online learning resources</p>
						</li>
					</ul>
				</div>
			</section>


			<section class="courses_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Our Online Programs</h3>
					<ul class="box_type_01 courses_list">
						<li class="box_type_01--item courses_item">
							<div class="box_type_01--img courses_img">
								<a href="/programs/4">
									<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/online-learning/online_courses_1.png" alt="">
								</a>
							</div>
							<div class="box_type_01--desc courses_desc_box">
								<p class="title_r_03"><a href="/programs/4">Online Debate Courses</a></p>
								<div class="desc_text">An engaging English program for children aligned with Common Core standards to maximize the children's learning and development</div>
								<a href="/programs/4" class="btn_type_01--sec">
									<span class="btn_inner">Learn More</span>
								</a>
							</div>
						</li>
						<li class="box_type_01--item courses_item">
							<div class="box_type_01--img courses_img">
								<a href="/programs/9">
									<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/online-learning/online_courses_2.png" alt="">
								</a>
							</div>
							<div class="box_type_01--desc courses_desc_box">
								<p class="title_r_03"><a href="/programs/9">Online Test Preparation Courses (IELTS/ TOEFL/ SAT) </a></p>
								<div class="desc_text">Providing English academic rigor and soft skills to better prepare students for lifelong learning and growth </div>
								<a href="/programs/9" class="btn_type_01--sec">
									<span class="btn_inner">Learn More</span>
								</a>
							</div>
						</li>
						<li class="box_type_01--item courses_item">
							<div class="box_type_01--img courses_img">
								<a href="/programs/5">
									<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/online-learning/online_courses_3.png" alt="">
								</a>
							</div>
							<div class="box_type_01--desc courses_desc_box">
								<p class="title_r_03"><a href="/programs/5">Online English Language Arts Courses</a></p>
								<div class="desc_text">Focuses on leadership development, life coaching, skills development, and goal setting; taught by experienced mentors</div>
								<a href="/programs/5" class="btn_type_01--sec">
									<span class="btn_inner">Learn More</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</section>

			<section class="learning-model">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Choose the learning model </h3>
					<ul class="box_type_01 asset_list video_list">
						<li class="asset_item asset_01">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/online-learning/ic-location.png" alt="">
							<p class="title_r_03">On Demand </p>
							<div class="text--gray">
								Access bite-sized video lessons on the subject you wish to learn anytime and anywhere 
							</div>
						</li>
						<li class="asset_item asset_02">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/online-learning/ic-hat34.png" alt="">
							<p class="title_r_03">Advanced </p>
							<div class="text--gray">
								Learn via video lessons, and get your assigment checked and graded by top teachers
							</div>
						</li>
						<li class="asset_item asset_03">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/online-learning/ic-laptop.png" alt="">
							<p class="title_r_03">Ultimate</p>
							<div class="text--gray">
								Get personalized tutoring from our leading teachers and speed up your learning progress
							</div>
						</li>
						<li class="asset_item asset_03">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/online-learning/ic-laptop.png" alt="">
							<p class="title_r_03">Hybrid </p>
							<div class="text--gray">
								Benefit from a combination of Video-on-demand system and real-time online classroom that keep you engaged the whole way through  
							</div>
						</li>
					</ul>
				</div>
			</section>

			<section class="camp_info_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">What our parents & students are saying?</h3>
					<div class="grid_type_wrap_01">
						<div class="video_article">
							<div class="article_box">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/qGrEEiIPO3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
						<div class="history_box history_box_02">
							<div class="say_box">
								<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel nibh sed malesuada fringilla ipsum nisi. Elit proin parturient fermentum, dui odio. Purus ultrices elementum cras molestie non enim, pharetra risus euismod. Quam arcu odio magna eu. Nunc ut malesuada nisl ornare ultrices ultricies elit. Non habitant nec quis sed velit. </p>
								<p class="name">- Mr. X, parent of Y student.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			
		</div>
		<!--container :: end-->
		<div class="layer_popup testimonials_popup">
			<div class="popup_cont">
				<div class="img_box">
					<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/common/testimonial.png" alt="">
				</div>
			</div>
			<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
		</div>
    <%- include("../partials/footer") %>
		<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>