<%- include("partials/head_start") %>
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/layout.css">
<link rel="stylesheet" type="text/css" href="css/sub.css">

<script language="JavaScript" type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
<script language="JavaScript" type="text/javascript" src="js/swiper.min.js"></script>
<script language="JavaScript" type="text/javascript" src="js/common.js"></script>
<script language="JavaScript" type="text/javascript" src="js/sub/about-us.js"></script>
<%- include("partials/head_end") %>
<%- include("partials/body_start") %>
<div class="wrap sub about_us">
    <%- include("partials/gnb") %>
    <!-- container :: start -->
		<div class="container">
			<section class="visual_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01">ABOUT US</h2>
					</div>
				</div>
			</section>
			<section class="about_intro_wrap">
				<div class="section_inner">
					<div class="video_grid_wrap">
						<div class="video_wrap">
							<video src="" playsinline="" muted="" loop="" autoplay="" class="video-bg" poster="images/common/non_img.png"
							></video>
						</div>
						<div class="video_desc_wrap">
							<div class="title_r_03 s_title">
								Point Avenue is a private education technology company that is headquartered in Hanoi, Vietnam and provides early childhood through university educational services across Southeast Asia.
							</div>
							<div class="text s_desc">
								We have a successful track record from China and Korea with a mature curriculum and a set of products infused with technology infrastructure, coupled with a team of passionate and experienced educators.<br><br>

								We believe in mentoring students in a holistic manner, utilizing a highly personalized approach to provide every student with tailored life and educational roadmaps.<br><br>

								We deliver positive outcomes and facilitate every student's potential for future growth.
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="team_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Meet Our Team</h3>
					<div class="swipe_type_01_wrap">
						<div class="swiper-container">
							<ul class="swiper-wrapper swipe_type_01 team_list">
								<li class="swiper-slide swipe_type_01--item team_item">
									<a href="#">
										<div class="swipe_type_01--img team_img">
											<img src="images/common/non_img.png" alt="">
										</div>
										<div class="swipe_type_01--desc team_desc_box">
											<p class="title_r_03">Name</p>
											<div class="title_r_03--gray">Title</div>
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_01--item team_item">
									<a href="#">
										<div class="swipe_type_01--img team_img">
											<img src="images/common/non_img.png" alt="">
										</div>
										<div class="swipe_type_01--desc team_desc_box">
											<p class="title_r_03">Name</p>
											<div class="title_r_03--gray">Title</div>
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_01--item team_item">
									<a href="#">
										<div class="swipe_type_01--img team_img">
											<img src="images/common/non_img.png" alt="">
										</div>
										<div class="swipe_type_01--desc team_desc_box">
											<p class="title_r_03">Name</p>
											<div class="title_r_03--gray">Title</div>
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_01--item team_item">
									<a href="#">
										<div class="swipe_type_01--img team_img">
											<img src="images/common/non_img.png" alt="">
										</div>
										<div class="swipe_type_01--desc team_desc_box">
											<p class="title_r_03">Name</p>
											<div class="title_r_03--gray">Title</div>
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_01--item team_item">
									<a href="#">
										<div class="swipe_type_01--img team_img">
											<img src="images/common/non_img.png" alt="">
										</div>
										<div class="swipe_type_01--desc team_desc_box">
											<p class="title_r_03">Name</p>
											<div class="title_r_03--gray">Title</div>
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_01--item team_item">
									<a href="#">
										<div class="swipe_type_01--img team_img">
											<img src="images/common/non_img.png" alt="">
										</div>
										<div class="swipe_type_01--desc team_desc_box">
											<p class="title_r_03">Name</p>
											<div class="title_r_03--gray">Title</div>
										</div>
									</a>
								</li>
							</ul>

							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="locations_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Our Locations</h3>
					<div class="locations_cont">
						<div class="swiper-container">
							<ul class="swiper-wrapper locations_list">
								<li class="swiper-slide locations_item">
									<p class="title_r_03 locations_title">
										Cau Giay Campus
									</p>
									<div class="locations_text">
										<p class="address">2nd & 3rd floor CT1 Building, Yen Hoa Park View,
										Cau Giay Dist., Ha Noi</p>
										<p class="tel">024 3201 1841| 024 3381 2288</p>
									</div>
								</li>
								<li class="swiper-slide locations_item">
									<p class="title_r_03 locations_title">
										Long Bien Campus
									</p>
									<div class="locations_text">
										<p class="address">60 Chu Huy Man St., Sai Dong New Urban Area, Long Bien Dist., Ha Noi</p>
										<p class="tel">024 3204 7055 | 024 3204 7366</p>
									</div>
								</li>
								<li class="swiper-slide locations_item">
									<p class="title_r_03 locations_title">
										Bangkok Campus
									</p>
									<div class="locations_text">
										<p class="address">2nd & 3rd floor CT1 Building, Yen Hoa Park View,Cau Giay Dist., Ha Noi</p>
										<p class="tel">024 3201 1841| 024 3381 2288</p>
									</div>
								</li>
								<li class="swiper-slide locations_item">
									<p class="title_r_03 locations_title">
										Cau Giay Campus
									</p>
									<div class="locations_text">
										<p class="address">2nd & 3rd floor CT1 Building, Yen Hoa Park View,
										Cau Giay Dist., Ha Noi</p>
										<p class="tel">024 3201 1841| 024 3381 2288</p>
									</div>
								</li>
							</ul>

							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="partners_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Our Partners</h3>
					<div class="partners_cont">
						<ul>
							<li>
								<div class="img_item">
									<img src="images/common/non_img.png" alt="">
								</div>
							</li>
							<li>
								<div class="img_item">
									<img src="images/common/non_img.png" alt="">
								</div>
							</li>
							<li>
								<div class="img_item">
									<img src="images/common/non_img.png" alt="">
								</div>
							</li>
							<li>
								<div class="img_item">
									<img src="images/common/non_img.png" alt="">
								</div>
							</li>
							<li>
								<div class="img_item">
									<img src="images/common/non_img.png" alt="">
								</div>
							</li>
							<li>
								<div class="img_item">
									<img src="images/common/non_img.png" alt="">
								</div>
							</li>
							<li>
								<div class="img_item">
									<img src="images/common/non_img.png" alt="">
								</div>
							</li>
							<li>
								<div class="img_item">
									<img src="images/common/non_img.png" alt="">
								</div>
							</li>
							<li>
								<div class="img_item">
									<img src="images/common/non_img.png" alt="">
								</div>
							</li>
							<li>
								<div class="img_item">
									<img src="images/common/non_img.png" alt="">
								</div>
							</li>
							<li>
								<div class="img_item">
									<img src="images/common/non_img.png" alt="">
								</div>
							</li>
							<li>
								<div class="img_item">
									<img src="images/common/non_img.png" alt="">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			
		</div>
		<!--container :: end-->
    <%- include("partials/footer") %>
    <%- include("partials/common_popup") %>
</div>
<%- include("partials/body_end") %>