<%- include("partials/head_start") %>
<title>About Us - Point Avenue</title>

<%- include("partials/common_styles_vn") %> <%- include("partials/common_scripts")
%>
<script
  language="JavaScript"
  type="text/javascript"
  src="/js/sub/point-avenue/about-us.js"
></script>

<script>
  const teamMembers = <%- JSON.stringify(teamMembers) %>;
</script>
<%- include("partials/head_end") %> <%- include("partials/body_start") %>
<div class="wrap sub about_us">
  <%- include("partials/gnb-vn") %>
  <!-- container :: start -->
  <div class="container">
    <section class="visual_wrap">
      <div class="section_inner">
        <div class="text_box">
          <h2 class="title_r_01">Về Point Avenue</h2>
        </div>
      </div>
    </section>
    <section class="about_intro_wrap">
      <div class="section_inner">
        <div class="video_grid_wrap">
          <div class="video_wrap">
            <iframe
              src="https://www.youtube.com/embed/y4PjJAPArio"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="video_desc_wrap">
            <div class="title_r_03 s_title">
              Point Avenue là công ty công nghệ giáo dục có trụ sở tại Hà Nội, Việt Nam, chuyên cung cấp các chương trình giáo dục cho học sinh từ mẫu giáo cho tới lớp 12 trên khắp Đông Nam Á.
            </div>
            <div class="text s_desc">
              Từng thành công tại Trung Quốc và Hàn Quốc, Point Avenue mang đến chất lượng giáo dục vượt trội với giáo trình thiết kế chuyên biệt, các khóa học đa dạng kết hợp với nền tảng công nghệ hiện đại cùng một đội ngũ cố vấn giáo dục tâm huyết, giàu kinh nghiệm.<br /><br />

              Với phương pháp cá nhân hóa lộ trình học tập cho mỗi học viên, cùng cách tiếp cận phát triển toàn diện bao gồm Nhân cách, Học thuật, và Kỹ năng, chúng tôi mong muốn có thể truyền cảm hứng cho các thế hệ lãnh đạo tiếp theo của Việt Nam, để các em có thể thay đổi thế giới thông qua tình yêu thương, trí tuệ và lòng chính trực.<br /><br />

              Chúng tôi nỗ lực nuôi dưỡng tiềm năng của các em với mong muốn kết quả tích cực trong học tập và quan trọng hơn, giúp các em tìm ra con đường thành công của chính mình trong tương lai.
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="team_wrap">
      <div class="section_inner">
        <h3 class="title_r_02 section_title">Đội ngũ điều hành</h3>
        <p class="title_r_03 s_title">
          Point Avenue hiện có mặt tại Việt Nam, Thái Lan, và Singapore với hơn 198 cố vấn và nhân viên. Chúng tôi tự hào đã tạo dựng được cộng đồng cố vấn đa dạng, có năng lực, tận tâm và có nhiều năm kinh nghiệm giảng dạy hoặc chuyên môn riêng. Rất nhiều trong số các cố vấn đều tốt nghiệp từ các trường đại học danh tiếng thế giới như West Point, Cambridge, Harvard, Johns Hopkins, UCLA và UVA.
        </p>
        <!-- 선생 리스트 swiper-->
        <%- include("partials/team-members") %>
      </div>
    </section>

    <section class="locations_wrap">
      <div class="section_inner">
        <h3 class="title_r_02 section_title">Địa chỉ</h3>
        <!-- locations 리스트 swiper-->
        <%- include("partials/locations-list-vn") %>
      </div>
    </section>
    <section class="history_wrap">
      <div class="section_inner">
        <h3 class="title_r_02 section_title">Our History</h3>
        <div class="grid_type_wrap_02">
          <div class="history_box history_box_01">
            <div class="history_box_inner">
              <h3 class="title_s_01">
                Point Avenue was founded by brothers Danny and Samuel Hwang, who
                graduated from West Point and MIT respectively, and by Cuong
                Nguyen, another graduate of the United States Military Academy.
              </h3>
              <p>
                Growing up in the United States, our co-founders experienced
                firsthand the value and impact of education in their lives,
                ultimately shaping their calling to serve and inspire others.
                Since 2009, they have continually innovated and delivered
                world-class, K-12 educational products and services in China to
                equip young learners to achieve academic excellence, unlock
                their passions, and prepare for lifelong success. In 2018, they
                expanded to Southeast Asia, beginning first in Vietnam and then
                Thailand, to continue their educational movement to help
                students create impact and achieve real growth.
              </p>
            </div>
          </div>
          <div class="history_box history_box_02">
            <div class="say_box">
              <p class="text">
                Our vision is to become the global leader in education
                technology, and our mission is to empower tomorrow's leaders to
                transform the world through wisdom, integrity, and compassion.
                Daily, we achieve this through our personal interactions and
                character-first mentorship approach for each and every one of
                our students, and we apply our inquiry-based learning
                methodology in our classrooms to promote intellectual curiosity,
                critical thinking, and innovation.
              </p>
              <p class="name">- Danny Hwang</p>
            </div>
            <div class="say_box">
              <p class="text">
                We are an academic community that values character and
                leadership development as much as academic rigor. Through our
                vision, expertise, and ability to bring together top educators,
                we aspire to build an enduring education movement.
              </p>
              <p class="name">- Cuong Nguyen</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--container :: end-->
  <%- include("partials/footer") %> <%- include("partials/common_popup") %>
</div>
<%- include("partials/body_end") %>
