<%- include("partials/head_start") %>
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/layout.css">
<link rel="stylesheet" type="text/css" href="/css/sub.css">

<script language="JavaScript" type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/swiper.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/common.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sub/admission-consulting/admission-consulting.js"></script>
<%- include("partials/head_end") %>
<%- include("partials/body_start") %>
<div class="wrap sub admission_consulting">
  <%- include("partials/gnb") %>
    <!-- container :: start -->
		<div class="container">
			<section class="visual_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01">ADMISSION CONSULTING</h2>
					</div>
				</div>
			</section>
			<section class="info_wrap">
				<div class="section_inner">
					<div class="grid_type_wrap_01">
						<div class="img_wrap">
							<div class="swiper-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide"><img src="/images/common/none_img.png" alt=""></li>
									<li class="swiper-slide"><img src="/images/common/none_img.png" alt=""></li>
									<li class="swiper-slide"><img src="/images/common/none_img.png" alt=""></li>
									<li class="swiper-slide"><img src="/images/common/none_img.png" alt=""></li>
									<li class="swiper-slide"><img src="/images/common/none_img.png" alt=""></li>
								</ul>
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<div class="text_wrap">
							<p class="title_r_02 section_title">What We Do</p>
							<div class="text">
								Our mission is to not only help students gain admissions into their top choice and best-fit schools, it is to develop future global citizens. Citizens that care and contribute to their communities, are confident in themselves, and achieve success with integrity.<br><br>
								College is a stepping stone for the rest of your life. Make sure you make that step with the best version of yourself.
							</div>
							<p class="title_r_03">Sign up for a FREE consultation</p>
							<a href="#" class="btn_type_01--sec">Sign Up Now</a>
						</div>
					</div>
				</div>
			</section>
			<section class="approach_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Our Approach</h3>
					<div class="process_step_wrap">
						<div class="swiper-container">
							<ul class="swiper-wrapper process_step_list">
								<li class="swiper-slide process_step_item">
									<div class="step">Step 1: Lorem ipsum</div>
									<div class="tooltip_box">
										<p class="title_r_01">01.</p>
										<div class="desc_box">
											<p class="title_r_03 title">Lorem ipsum</p>
											<p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing ellt, sed diam nonummy nibh euismod</p>
										</div>
									</div>
									<div class="icon_box">
										<img src="/images/sub/point-avenue/careers/process_01.png" alt="">
									</div>
								</li>
								<li class="swiper-slide process_step_item">
									<div class="step">Step 2: Lorem ipsum</div>
									<div class="tooltip_box">
										<p class="title_r_01">02.</p>
										<div class="desc_box">
											<p class="title_r_03 title">Lorem ipsum</p>
											<p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing ellt, sed diam nonummy nibh euismod</p>
										</div>
									</div>
									<div class="icon_box">
										<img src="/images/sub/point-avenue/careers/process_02.png" alt="">
									</div>
								</li>
								<li class="swiper-slide process_step_item">
									<div class="step">Step 3:  Lorem ipsum</div>
									<div class="tooltip_box">
										<p class="title_r_01">03.</p>
										<div class="desc_box">
											<p class="title_r_03 title">Lorem ipsum</p>
											<p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing ellt, sed diam nonummy nibh euismod</p>
										</div>
									</div>
									<div class="icon_box">
										<img src="/images/sub/point-avenue/careers/process_03.png" alt="">
									</div>
								</li>
								<li class="swiper-slide process_step_item">
									<div class="step">Step 4:  Lorem ipsum</div>
									<div class="tooltip_box">
										<p class="title_r_01">04.</p>
										<div class="desc_box">
											<p class="title_r_03 title">Lorem ipsum</p>
											<p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing ellt, sed diam nonummy nibh euismod</p>
										</div>
									</div>
									<div class="icon_box">
										<img src="/images/sub/point-avenue/careers/process_04.png" alt="">
									</div>
								</li>
								<li class="swiper-slide process_step_item">
									<div class="step">Step 5:  Lorem ipsum</div>
									<div class="tooltip_box">
										<p class="title_r_01">05.</p>
										<div class="desc_box">
											<p class="title_r_03 title">Lorem ipsum</p>
											<p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing ellt, sed diam nonummy nibh euismod</p>
										</div>
									</div>
									<div class="icon_box">
										<img src="/images/sub/point-avenue/careers/process_05.png" alt="">
									</div>
								</li>
							</ul>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="results_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Our Results</h3>
					<p class="text">Since 2018, we have helped hundreds of students from Asia and the United States gain admissions to not only their top-choice, but best-fit boarding schools, universities and graduate programs. Some notable results include:<br>
					MIT, Stanford University, Princeton University, University of Cambridge, University of Chicago, Johns Hopkins University, Northwestern University, </p>
					<div class="swipe_type_01_wrap results_swiper_01">
						<div class="swiper-container">
							<ul class="swiper-wrapper swipe_type_02 team_list">
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
							</ul>

							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
					<div class="swipe_type_01_wrap results_swiper_02">
						<div class="swiper-container">
							<ul class="swiper-wrapper swipe_type_02 team_list">
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
							</ul>

							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="services_wrap">
				<div class="section_inner">
					<p class="title_r_02 section_title">Our Services</p>
					<p class="text">We work with Grade 6 – post graduate students to help them apply for boarding schools, undergraduate programs, and graduate programs. While that’s our most basic and essential service, it’s really just the finish line. For students who are looking for more than just guidance on the application process, we help mentor and coach them in their journey to arrive at the application process as the best version of themselves. The following is an overview of the ways we help achieve that.</p>
					<div class="grid_type_wrap_02">
						<div class="service_box service_box_01">
							<div class="service_img_box">
								<img src="/images/common/none_img.png" alt="">
							</div>
							<div class="service_text_box">
								<p class="title_r_03 section_title_02">Mentorship Services</p>
								<ul class="ul_type_02">
									<li>School Selection</li>
									<li>Major Selection</li>
									<li>Activities Profile</li>
									<li>Hook Development</li>
									<li>Personal Statement</li>
									<li>Supplemental Essays</li>
									<li>Media Portfolio</li>
									<li>Letter of Recommendation Guidance</li>
									<li>Financial Reporting</li>
									<li>Interview Preparation</li>
									<li>Matriculation Guidance</li>
									<li>Visa Application</li>
								</ul>
							</div>
						</div>
						<div class="service_box service_box_02">
							<div class="service_img_box">
								<img src="/images/common/none_img.png" alt="">
							</div>
							<div class="service_text_box">
								<p class="title_r_03 section_title_02">Mentorship Services</p>
								<ul class="ul_type_02">
									<li>Growth Strategy</li>
									<li>Coursework Management</li>
									<li>Academic Writing Support</li>
									<li>Time Management</li>
									<li>Soft Skills Development</li>
									<li>Extracurricular Activity Guidance</li>
									<li>Test Preparation Strategy</li>
									<li>Competitive/Summer Program Sourcing</li>
									<li>Independent Project Guidance</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="case_studies_wrap">
				<div class="section_inner">
					<p class="title_r_02 section_title">Case Studies</p>
					<div class="swipe_type_01_wrap">
						<div class="swiper-container">
							<ul class="swiper-wrapper class_box_type_01">
								<li class="swiper-slide class_box_type_01--item">
									<div class="class_box_type_01--img">
										<img src="/images/common/none_img.png" alt="">
									</div>
									<div class="swiper-slide class_box_type_01--desc">
										<div class="text">
											<p class="title_r_03">My Le</p>
											<p class="text--gray university">Stanford University</p>
										</div>
										<a href="#" class="btn_type_01 view yellow">Read More</a>
									</div>
								</li>
								<li class="swiper-slide class_box_type_01--item">
									<div class="class_box_type_01--img">
										<img src="/images/common/none_img.png" alt="">
									</div>
									<div class="swiper-slide class_box_type_01--desc">
										<div class="text">
											<p class="title_r_03">My Le</p>
											<p class="text--gray university">Stanford University</p>
										</div>
										<a href="#" class="btn_type_01 view yellow">Read More</a>
									</div>
								</li>
								<li class="swiper-slide class_box_type_01--item">
									<div class="class_box_type_01--img">
										<img src="/images/common/none_img.png" alt="">
									</div>
									<div class="swiper-slide class_box_type_01--desc">
										<div class="text">
											<p class="title_r_03">My Le</p>
											<p class="text--gray university">Stanford University</p>
										</div>
										<a href="#" class="btn_type_01 view yellow">Read More</a>
									</div>
								</li>
								<li class="swiper-slide class_box_type_01--item">
									<div class="class_box_type_01--img">
										<img src="/images/common/none_img.png" alt="">
									</div>
									<div class="swiper-slide class_box_type_01--desc">
										<div class="text">
											<p class="title_r_03">My Le</p>
											<p class="text--gray university">Stanford University</p>
										</div>
										<a href="#" class="btn_type_01 view yellow">Read More</a>
									</div>
								</li>
								<li class="swiper-slide class_box_type_01--item">
									<div class="class_box_type_01--img">
										<img src="/images/common/none_img.png" alt="">
									</div>
									<div class="swiper-slide class_box_type_01--desc">
										<div class="text">
											<p class="title_r_03">My Le</p>
											<p class="text--gray university">Stanford University</p>
										</div>
										<a href="#" class="btn_type_01 view yellow">Read More</a>
									</div>
								</li>
							</ul>
							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="info_input_wrap">
				<div class="section_inner--full">
					<div class="write_box">
						<h3 class="title_r_02">Sign Up for a FREE Consultation!</h3>
						<div class="input_box">
							<input type="text" class="name" placeholder="Your Name*">
							<input type="text" class="phone" placeholder="Your Phone*">
							<input type="text" class="email" placeholder="Your Email*">
						</div>
						<a href="#" class="btn_type_01--sec">
							<span class="btn_inner">Register</span>
						</a>
					</div>
				</div>
			</section>
			
		</div>
		<!--container :: end-->
    <%- include("partials/footer") %>
		<%- include("partials/common_popup") %>
</div>
<%- include("partials/body_end") %>