<%- include("partials/head_start") %>

<title>CHƯƠNG TRÌNH TƯ VẤN DU HỌC - Point Avenue</title>
<meta name="keywords" content="CHƯƠNG TRÌNH TƯ VẤN DU HỌC, PointAve">
<meta name="title" content="CHƯƠNG TRÌNH TƯ VẤN DU HỌC - Point Avenue">
<meta property="og:title" content="CHƯƠNG TRÌNH TƯ VẤN DU HỌC - Point Avenue">

<%- include("partials/common_styles_vn") %>
<%- include("partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/admission-consulting/admission-consulting.js"></script>

<%- include("partials/head_end") %>
<%- include("partials/body_start") %>
<script>
	const studies = <%- JSON.stringify(studies) %>;
</script>
<script>
	const mentors = <%- JSON.stringify(mentors) %>;
</script>
<div class="wrap sub admission_consulting">
  <%- include("partials/gnb-vn") %>
    <!-- container :: start -->
		<div class="container">
			<section class="visual_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01">CHƯƠNG TRÌNH TƯ VẤN DU HỌC</h2>
					</div>
				</div>
			</section>
			<section class="info_wrap">
				<div class="section_inner">
					<div class="grid_type_wrap_01">
						<div class="video_wrap">
							<iframe src="https://www.youtube.com/embed/GffbzanqjDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="text_wrap">
							<p class="title_r_02 section_title">Về chúng tôi</p>
							<div class="text">
								Chúng tôi đồng hành cùng các em học sinh trên hành trình ứng tuyển vào các trường Trung học Nội trú và Đại học mơ ước ở Mỹ, Anh và Canada. Không chỉ đơn thuần hướng dẫn các em chuẩn bị hồ sơ,
								chúng tôi khích lệ các em khám phá về bản thân và thế giới, cố vấn về phát triển cá nhân và định hướng
								để các em trở thành phiên bản tốt nhất của chính mình.
								<!-- <br><br>College is a stepping stone for the rest of your life. Make sure you make that step with the best version of yourself. -->
							</div>
							<a href="https://pointavenue1.typeform.com/to/wXI8gOLN" target="_blank" class="btn_type_01--sec"><span>Đăng ký nhận tư vấn miễn phí</span></a>
						</div>
					</div>
				</div>
			</section>
			<section class="approach_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">PHƯƠNG PHÁP</h3>
					<div class="approach_box">
						<div class="step_list">
							<ul class="ul_type_03">
								<li>
									<strong>Bước 1: Tìm hiểu học sinh</strong>
									Các cố vấn sẽ dành thời gian để làm quen, tìm hiểu và đồng cảm với câu chuyện của từng học sinh, những sở thích hay đam mê của các em. Đây sẽ là nền tảng vững chắc để tạo dựng sự tin tưởng giữa cố vấn và học sinh.
								</li>
								<li>
									<strong>Bước 2: Xây dựng lộ trình cá nhân hoá</strong>
									Sau khi đã hiểu rõ về tính cách và đặc điểm của học sinh, cố vấn sẽ cùng các em xây dựng một lộ trình cụ thể từng bước, từ việc chuẩn bị thi chuẩn hóa đến tham gia các hoạt động ngoại khoá, từ đó thúc đẩy các em phát triển tối đa tiềm năng và đạt được mục tiêu cá nhân.
								</li>
							</ul>
						</div>
						<div class="img_box">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/approach/approach_step_01.jpg" alt="">
						</div>
					</div>
					<div class="approach_box approach_box_02">
						<div class="step_list">
							<ul class="ul_type_03">
								<li>
									<strong>Bước 3: Thực hiện kế hoạch</strong>
									Các cố vấn sẽ đồng hành với các em từng bước để động viên, hướng dẫn, cũng như đưa ra nhận xét, phản ảnh về tiến độ để giúp các em điều chỉnh kế hoạch cho phù hợp.
								</li>
								<li>
									<strong>Bước 4: Nộp đơn ứng tuyển</strong>
									Đội ngũ cố vấn sẽ hỗ trợ các em chọn trường và ngành phù hợp, cùng các em hoàn thiện từng bài luận, chuẩn bị phỏng vấn, điền đơn xin hỗ trợ tài chính. Sau khi các em trúng tuyển, các cố vấn vẫn sẽ đồng hành và hỗ trợ các em nhập học cũng như lựa chọn các môn học phù hợp.
								</li>
							</ul>
						</div>
						<div class="img_box">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/approach/approach_step_02.jpg" alt="">
						</div>
					</div>
					
				</div>
			</section>
			<section class="results_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Kết quả</h3>
					<p class="text">
						Với đội ngũ cố vấn giỏi chuyên môn và giàu kinh nghiệm, Point Avenue tự hào khi đồng hành và hỗ trợ hơn 100 học sinh tại Châu Á và Mỹ đỗ vào các trường Đại Học top đầu thế giới.
					</p>
					<p class="title_r_03" style="margin-top:20px">Tổng hỗ trợ tài chính & học bổng: 15 triệu USD 
						<a href="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/pdf/2018-2021+Admissions+Consulting+Results_02.pdf" target="_blank" class="btn_type_01" style="vertical-align: middle;">Xem thông tin chi tiết tại</a></p>
					<div class="row_wrap">
						<p class="title_r_03">Đại Học</p>
						<div class="swipe_type_01_wrap results_swiper_01">
							<div class="swiper-container">
								<ul class="swiper-wrapper swipe_type_02 team_list">
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/1. MIT.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/2. harvard-university.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/3. princeton-uni.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/4. stanford-uni.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/5. 1024px-Columbia_University.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/6. university-of-cambridge-logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/7. London_School_of_Economics.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/8. kings college.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/9. UniversityofPennsylvania.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/10. northwestern-university-logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/11. pomona-college.jpg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/12. Duke_University.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/13. UC Berkeley.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/14. UCLA_Logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/15. Brown_University_Logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/	16. kisspng-samuel-curtis-johnson-graduate-school-of-managemen-rose-leslie-5ad16be5e30277.2822667115236740859298.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/17. vanderbilt uni.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/18. kisspng-emory-university-school-of-medicine-goizueta-busin-university-5abe5f22cfa0c4.4346304515224256348505.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/19. Carnegie Mellon.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/20. 1200px-Georgia_Tech.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/21. USC.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/22. Davidson_College_logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/23. pngjoy.com_scholastic-logo-logo-the-new-school-parsons-paris_10419841.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/24. 1200px-SAIC_logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/25. University-of-Michigan-Logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Universities/new/nyu_logo_new_york_university.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<p class="more_text">AND<br>MANY<br>MORE!</p>
										</div>
									</li>
								</ul>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
					<div class="row_wrap">
						<p class="title_r_03">Trường Nội trú</p>
						<div class="swipe_type_01_wrap results_swiper_02">
							<div class="swiper-container">
								<ul class="swiper-wrapper swipe_type_02 team_list">
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/1. Milton Academy.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/2. Groton School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/3. deerfield_academy_FINAL.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/4. Concord Academy.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/5. The Webb Schools.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/6. Taft School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/7. berkshire-school.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/8. St Andrew_s School - DE.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/9. Blair-Academy-1.jpg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/10. Northfield Mount Hernon.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/11-POMFRET-SCHOOL.jpg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/12. Westminster School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/13. Williston.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/14. Avon Old Farms School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/15. kimball union.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/16. Tabor Academy.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/17. Canterbury School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/18. Portsmouth-abbey-school-education-boarding-school-student.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding Schools/new/19. The storm king school.jpeg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/Boarding+Schools/new/St-Michaels-University-School-Logo-jpg.jpg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<p class="more_text">AND<br>MANY<br>MORE!</p>
										</div>
									</li>
								</ul>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="services_wrap">
				<div class="section_inner">
					<p class="title_r_02 section_title">Dịch vụ của chúng tôi</p>
					<p class="text">Đội ngũ cố vấn giàu kinh nghiệm tại Point Avenue hỗ trợ cho các học sinh từ Lớp 8 - 12 để giúp các em đăng ký vào các trường nội trú và Đại học tại Hoa Kỳ, Vương quốc Anh và Canada. Giáo trình giảng dạy toàn diện, tích hợp nền tảng công nghệ cao và đội ngũ những nhà giáo dục tâm huyết, giàu kinh nghiệm của chúng tôi kỳ vọng sẽ giúp các em học sinh đạt được thành công trong học tập và cuộc sống.</p>
					<div class="grid_type_wrap_02">
						<div class="service_box service_box_01">
							<div class="service_img_box">
								<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/our_application_services_01.png" alt="">
							</div>
							<div class="service_text_box">
								<p class="title_r_03 section_title_02">Các dịch vụ cố vấn</p>
								<p class="text">For younger students who are looking for more than just guidance on the application process, we coach them to become the best version of themselves through our personalized Mentorship Services. Services include</p>
								<ul class="ul_type_02">
									<li>Growth Strategy</li>
									<li>Coursework Management</li>
									<li>Academic Writing Support</li>
									<li>Time Management</li>
									<li>Soft Skills Development</li>
									<li>Extracurricular Activity Guidance</li>
									<li>Competitive/Summer Program Sourcing</li>
									<li>Independent Project Guidance</li>
									<li>Career Exploration</li>
								</ul>
							</div>
						</div>
						<div class="service_box service_box_02">
							<div class="service_img_box">
								<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/admission-consulting/our_application_services_02.jpg" alt="">
							</div>
							<div class="service_text_box">
								<p class="title_r_03 section_title_02">Application Services</p>
								<p class="text">Our team of experienced mentors work with Grade 8 – 12 students to help them apply to the top universities and boarding schools in the US, UK, Canada and More. Services include:</p>
								<ul class="ul_type_02">
									<li>University & Major Selection</li>
									<li>Activities Profile</li>
									<li>Personal Statement</li>
									<li>Supplemental Essays</li>
									<li>Test Preparation Strategy</li>
									<li>Media Portfolio</li>
									<li>Letter of Recommendation</li>
									<li>Financial Aid Advice</li>
									<li>Interview Preparation</li>
									<li>Matriculation Guidance</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="case_studies_wrap">
				<div class="section_inner">
					<p class="title_r_02 section_title">Học sinh của chúng tôi</p>
					<!-- case-studies 리스트 swiper-->
					<%- include("partials/case-studies") %>
					<div class="swipe_type_02_wrap video_wrap">
						<div class="swiper-container">
							<ul class="swiper-wrapper swipe_type_02">
								<li class="swiper-slide swipe_type_02--item">
									<div class="swipe_type_02--img">
										<iframe width="100%" height="315" src="https://www.youtube.com/embed/mJLsTMD9I1M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								</li>
								<li class="swiper-slide swipe_type_02--item">
									<div class="swipe_type_02--img">
										<iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FPointAvenue%2Fvideos%2F307940117536269%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
									</div>
								</li>
								
							</ul>
							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="info_input_wrap">
				<div class="typeform-widget" data-url="https://form.typeform.com/to/wXI8gOLN?typeform-medium=embed-snippet" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
			</section>
			
		</div>
		<!--container :: end-->

		
    <%- include("partials/footer-vn") %>
		<%- include("partials/common_popup") %>
</div>
<%- include("partials/body_end") %>