<%- include("partials/head_start") %>

<title>Blog - Point Avenue</title>
<meta name="keywords" content="Blog, PointAve">
<meta name="title" content="Blog - Point Avenue">
<meta property="og:title" content="Blog - Point Avenue">

<%- include("partials/common_styles") %>
<%- include("partials/common_scripts") %>

<%- include("partials/head_end") %>
<%- include("partials/body_start") %>
<div class="wrap sub admission_consulting">
  <%- include("partials/gnb") %>
    <!-- container :: start -->
		<div class="container">
			<section class="visual_wrap">
				<div class="section_inner">
					<div class="text_box">
					</div>
				</div>
			</section>
			<section class="info_wrap_iframe">
				<iframe src="https://blog.pointavenue.com" height=1000 style="width: 100%"></iframe>
			</section>
		</div>
		<!--container :: end-->

		
    <%- include("partials/footer") %>
		<%- include("partials/common_popup") %>
</div>
<%- include("partials/body_end") %>