<%- include("partials/head_start") %>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/sub.css">

	<script language="JavaScript" type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/swiper.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/common.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/sub/class-detail/fundamentals.js"></script>
  <%- include("partials/head_end") %>
  <%- include("partials/body_start") %>
	<div class="wrap sub class_detail fundamentals">
		<%- include("partials/gnb") %>
		<!-- container :: start -->
		<div class="container">
			<section class="title_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01">ENGLISH LANGUAGE FUNDAMENTALS</h2>
						<p class="text--gray"><span>Elementary English</span> | <span>Grade 1-5</span></p>
					</div>
				</div>
			</section>
			<section class="course_overview_wrap">
				<div class="section_inner">
					<div class="grid_type_wrap_01">
						<div class="video_wrap">
							<video src="" playsinline="" muted="" loop="" autoplay="" class="video-bg" poster="/images/common/none_video_img.png"
							></video>
						</div>
						<div class="video_desc_wrap">
							<h3 class="title_r_02 section_title">Course Overview</h3>
							<div class="text s_desc">
								Our EL Fundamental courses start with English Language Starters where students are first introduced to the English alphabet & short vowel sounds, advancing through our Phonics course focused on long vowels & consonant blends, and completing in our Foundations course where students can confidently read & write simple sentences. Students engage in various learning activities, practice reading / listening / speaking / writing, refine their fine motor skills, and are exposed to social learning through designed interactions with their peers. 
							</div>
							<div class="registration_box">
								<p class="title_r_03">Spring Term Registration</p>
								<div class="btn_box">
									<a href="#" class="btn_type_01--sec">Enroll now</a>
									<a href="#" class="btn_type_01--sec black">Sign up for test</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="about_course_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">About this Course</h3>
					<div class="course_detail_box">
						<ul>
							<li>
								<img src="/images/common/person_icon.png" alt="">
								<p class="title_r_03">7-9 years old</p>
							</li>
							<li>
								<img src="/images/common/calendar_icon.png" alt="">
								<p class="title_r_03">17 weeks</p>
								<p class="title_r_03">3 hours/week</p>
							</li>
							<li>
								<img src="/images/common/clock_icon.png" alt="">
								<p class="title_r_03">51 hours</p>
							</li>
						</ul>
					</div>
				</div>
			</section>
			
			<section class="course_objective_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Course Objectives</h3>
					<div class="img_box">
						<img src="/images/sub/class-detail/english/img_01.png" alt="">
					</div>
					<div class="objective_list">
						<ul class="ul_type_03">
							<li>Alphabet recognition and application</li>
							<li>Short vowel sounds</li>
							<li>Long vowel sounds</li>
							<li>Consonant blends</li>
							<li>Reading using digraphs</li>
							<li>Basic reading & writing of 3~4 letter monosyllabic words</li>
						</ul>
					</div>
					
				</div>
			</section>
			<section class="course_books_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Course Books</h3>
					<div class="img_box">
						<img src="/images/sub/class-detail/english/img_02.png" alt="">
					</div>
					<div class="books_list">
						<ul class="ul_type_03">
							<li><strong>Fly Phonics 1 to 4:</strong> Phonic series that cover the alphabet & sounds, short & long vowels, and consonant blends & digraphs.</li>
							<li><strong>Reading Sketch Starters 1 to 3:</strong> To apply basic phonic knowledge to practical reading application, the Reading Sketch Starter series support fundamental phonics learning through visual stories and exciting themes.</li>
							<li><strong>Reading Sponge:</strong> Next in the NE Build & Grow series, this reading book supports advanced phonic learners and prepares our students to transition into the regular EL program.</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="locations_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Location Availability</h3>
					<div class="locations_cont">
						<div class="swiper-container">
							<ul class="swiper-wrapper locations_list">
								<li class="swiper-slide locations_item">
									<p class="title_r_03 locations_title">
										Cau Giay Campus
									</p>
									<div class="locations_text">
										<p class="address">2nd & 3rd floor CT1 Building, Yen Hoa Park View,
										Cau Giay Dist., Ha Noi</p>
										<p class="tel">024 3201 1841| 024 3381 2288</p>
									</div>
								</li>
								<li class="swiper-slide locations_item">
									<p class="title_r_03 locations_title">
										Long Bien Campus
									</p>
									<div class="locations_text">
										<p class="address">60 Chu Huy Man St., Sai Dong New Urban Area, Long Bien Dist., Ha Noi</p>
										<p class="tel">024 3204 7055 | 024 3204 7366</p>
									</div>
								</li>
								<li class="swiper-slide locations_item">
									<p class="title_r_03 locations_title">
										Bangkok Campus
									</p>
									<div class="locations_text">
										<p class="address">2nd & 3rd floor CT1 Building, Yen Hoa Park View,Cau Giay Dist., Ha Noi</p>
										<p class="tel">024 3201 1841| 024 3381 2288</p>
									</div>
								</li>
								<li class="swiper-slide locations_item">
									<p class="title_r_03 locations_title">
										Cau Giay Campus
									</p>
									<div class="locations_text">
										<p class="address">2nd & 3rd floor CT1 Building, Yen Hoa Park View,
										Cau Giay Dist., Ha Noi</p>
										<p class="tel">024 3201 1841| 024 3381 2288</p>
									</div>
								</li>
							</ul>

							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!--container :: end-->
		<%- include("partials/footer") %>
		<%- include("partials/common_popup") %>
	</div>
  <%- include("partials/body_end") %>