<%- include("partials/head_start") %>
<title>CHÍNH SÁCH - BẢO MẬT - Point Avenue</title>
<meta name="keywords" content="TIN TỨC - SỰ KIỆN, Point Avenue">
<meta name="title" content="TIN TỨC - SỰ KIỆN - Point Avenue">
<meta property="og:title" content="Point Avenue">

<%- include("partials/common_styles_vn") %>
<%- include("partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/admission-consulting/admission-consulting.js"></script>

<%- include("partials/head_end") %>
<%- include("partials/body_start") %>
<div class="wrap sub news">
    <%- include("partials/gnb-vn") %>
    	<!-- container :: start -->
		<div class="container">
			<section class="visual_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01">CHÍNH SÁCH - BẢO MẬT</h2>
					</div>
				</div>
			</section>
			<section class="team_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Thu thập thông tin cá nhân</h3>
					<div class="text s_desc">
						Point Avenue sẽ thu thập thông tin của Khách hàng bao gồm: Tên đầy đủ; Địa chỉ liên lạc; Email; Số điện thoại; Tên đăng nhập; Mật khẩu đăng nhập để thiết lập hồ sơ cá nhân.<br /><br />

						Nội dung bao gồm các thông tin bắt buộc khai báo của Khách hàng khi đăng ký tài khoản trên Point Avenue; khi thu thập các thông tin cá nhân của Khách hàng, Point Avenue mong muốn cung cấp những tiện ích thiết thực nhất tới Khách hàng, bảo vệ quyền lợi và đảm bảo tôn trọng sự riêng tư cho Khách hàng. Trong phạm vi điều khoản, Point Avenue cam kết sẽ không bán, cho thuê hay trao đổi dữ liệu thông tin Khách hàng đã thu thập cho các đối tượng nào khác ngoài đối tượng được liệt kê trong Quy chế này.<br /><br />
					</div>
				</div>
			</section>
			<section class="team_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Phạm vi sử dụng thông tin cá nhân</h3>
					<div class="text s_desc">
						Thông tin thu thập từ Khách hàng được sử dụng trong phạm vi:

						<ul class="ul_type_02" style="margin: 1rem;gap: 0.2rem;display: flex;flex-direction: column;">
							<li style="font-size: 13px;">Cung cấp dịch vụ tư vấn cho Khách hàng theo thông tin Khách hàng cung cấp.</li>
							<li style="font-size: 13px;">Gửi Khách hàng các thông báo về hoạt động trao đổi thông tin giữa Point Avenue và thành viên</li>
							<li style="font-size: 13px;">Đảm bảo an toàn cho Khách hàng khi có nguy cơ phá hủy, chiếm đoạt tài khoản của Khách hàng và hoạt động giả mạo Khách hàng</li>
							<li style="font-size: 13px;">Liên lạc với Khách hàng để cung cấp hàng hóa/dịch vụ khi Khách hàng mua các phẩm hàng hóa/dịch vụ trên . Xác nhận thông tin khi thực hiện hoạt động mua, giao hàng</li>
							<li style="font-size: 13px;">Thực hiện các cuộc khảo sát; các hoạt động quảng bá, cung cấp các thông tin cập nhật về điều khoản hoạt động của có ảnh hưởng đến Khách hàng</li>
						</ul>
						Bảo mật thông tin Khách hàng là ưu tiên hàng đầu của Point Avenue khi thu thập dữ liệu thông tin Khách hàng. Point Avenue luôn cố gắng bắt kịp các tiêu chuẩn bảo vệ thông tin các nhân của khách hàng; Point Avenue yêu cầu xác nhận lại mật khẩu khi đăng nhập để chống lại những truy cập trái phép vào hệ thống thông tin cá nhân Khách hàng. Trong trường hợp Khách hàng rời máy tính và chưa đăng xuất trên website, hệ thống sẽ tự động đăng xuất sau một khoảng thời gian nhất định.
					</div>
				</div>
			</section>

			<section class="team_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Thời gian lưu trữ thông tin</h3>
					<div class="text s_desc">
						Dữ liệu cá nhân của thành viên sẽ được lưu trữ cho đến khi có yêu cầu ban quản trị hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của chúng tôi.<br /><br />
						Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân:<br /><br />
						Mọi thông tin của Khách hàng được lưu trữ tại địa chỉ:
						<ul class="ul_type_02" style="margin: 1rem;gap: 0.2rem;display: flex;flex-direction: column;">
							<li style="font-size: 13px;">Công ty TNHH Point Avenue PTE</li>
							<li style="font-size: 13px;">Địa chỉ: Tầng 2 NOCT1, E4 khu đô thị mới Yên Hòa, phường Yên Hòa, Q. Cầu Giấy, TP Hà Nội, Việt Nam</li>
							<li style="font-size: 13px;">Tel: 024 3201 1841, 024 3381 2288</li>
							<li style="font-size: 13px;">Email: contact@pointavenue.com</li>
							<li style="font-size: 13px;">Hotline: 0905685809</li>
						</ul>
					</div>
				</div>
			</section>

			<section class="team_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Cam kết bảo mật thông tin khách hàng</h3>
					<div class="text s_desc">
						Ban quản trị Point Avenue cam kết bảo mật thông tin cá nhân của Khách hàng theo những nội dung sau:
						<ul class="ul_type_02" style="margin: 1rem;gap: 0.2rem;display: flex;flex-direction: column;">
							<li style="font-size: 13px;">Cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của Point Avenue</li>
							<li style="font-size: 13px;">Cam kết bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của Khách hàng bao gồm các thông tin về lịch sử giao dịch; thông tin về chứng từ số hóa tại khu vực dữ liệu trung tâm an toàn</li>
							<li style="font-size: 13px;">Cam kết không sử dụng, không chuyển giao, không cung cấp hay tiết lộ cho bên thứ ba nào khác về thông tin cá nhân của Khách hàng khi không có sự cho phép từ Khách hàng ngoại trừ điều khoản khác được quy định trong Quy chế này và theo quy định của Pháp luật</li>
							<li style="font-size: 13px;">Trong trường hợp phát sinh các lỗi kỹ thuật hoặc bị tấn công dữ liệu, Ban quản trị có trách nhiệm thông báo cho cơ quan chức năng và Khách hàng trong thời gian 03 ngày kể từ khi có sự cố xảy ra</li>
						</ul>
						Chúng tôi có thể tiết lộ hoặc cung cấp thông tin cá nhân của khách hàng trong các trường hợp thật sự cần thiết như sau:
						<ul class="ul_type_02" style="margin: 1rem;gap: 0.2rem;display: flex;flex-direction: column;">
							<li style="font-size: 13px;">Khi có yêu cầu của các cơ quan pháp luật</li>
							<li style="font-size: 13px;">Trong trường hợp mà chúng tôi tin rằng điều đó sẽ giúp chúng tôi bảo vệ quyền lợi chính đáng của mình trước pháp luật</li>
						</ul>
						Nếu Quý khách tin rằng việc bảo mật của quý khách tại Công ty chúng tôi xâm phạm, hay bị sử dụng sai mục đích, xin vui lòng liên hệ với chúng tôi, yêu cầu của Quý khách sẽ được tiếp nhận và được giải quyết theo đúng quy định.
					</div>
				</div>
			</section>

			<section class="team_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Thu thập thông tin cá nhân</h3>
					<div class="text s_desc">
						Point Avenue sẽ thu thập thông tin của Khách hàng bao gồm: Tên đầy đủ; Địa chỉ liên lạc; Email; Số điện thoại; Tên đăng nhập; Mật khẩu đăng nhập để thiết lập hồ sơ cá nhân.<br /><br />

						Nội dung bao gồm các thông tin bắt buộc khai báo của Khách hàng khi đăng ký tài khoản trên Point Avenue; khi thu thập các thông tin cá nhân của Khách hàng, Point Avenue mong muốn cung cấp những tiện ích thiết thực nhất tới Khách hàng, bảo vệ quyền lợi và đảm bảo tôn trọng sự riêng tư cho Khách hàng. Trong phạm vi điều khoản, Point Avenue cam kết sẽ không bán, cho thuê hay trao đổi dữ liệu thông tin Khách hàng đã thu thập cho các đối tượng nào khác ngoài đối tượng được liệt kê trong Quy chế này.<br /><br />
					</div>
				</div>
			</section>

			<section class="team_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Thay đổi loại bỏ thông tin hồ sơ cá nhân</h3>
					<div class="text s_desc">
						Khách hàng có thể tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng các cách sau đây:<br /><br />

						Khách hàng tự đăng nhập vào tài khoản của mình, vào mục thông tin cá nhân và chỉnh sửa thông tin cá nhân.<br /><br />

						Khách hàng gọi điện đến số điện thoại hỗ trợ/email hỗ trợ của Ban quản trị và yêu cầu được chỉnh sửa thông tin cá nhân.
					</div>
				</div>
			</section>

			<section class="team_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Quy định về "Spam"</h3>
					<div class="text s_desc">
						Công ty chúng tôi thực sự quan ngại đến vấn nạn Spam (thư rác), các email mạo danh chúng tôi. Do đó, chúng tôi khẳng định chỉ gửi email đến khách hàng khi và chỉ khi khách hàng có đăng ký hoặc sử dụng dịch vụ từ hệ thống của chúng tôi.<br /><br />

						Công ty chúng tôi cam kết không bán, thuê lại hoặc cho thuê email của khách hàng cho bên thứ ba. Nếu khách hàng vô tình nhận được Email không theo yêu cầu từ hệ thống chúng tôi do một nguyên nhân ngoài ý muốn, xin vui lòng thông báo trực tiếp đến ban quản trị Website.<br /><br />

					</div>
				</div>
			</section>

			<section class="team_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Đội tượng chia sẻ thông tin</h3>
					<ul class="ul_type_02" style="margin: 1rem;gap: 0.5rem;display: flex;flex-direction: column;">
						<li style="font-size: 14px;">Ban quản trị Point Avenue có thể chia sẻ, tiết lộ thông tin cá nhân của Khách hàng khi tin rằng việc làm đó là cần thiết để bảo vệ các quyền lợi của Khách hàng, đảm bảo sự an toàn giao dịch cho Khách hàng và theo yêu cầu của bên thứ 3 có thẩm quyền.</li>
						<li style="font-size: 14px;">Ban quản trị Point Avenue có thể chia sẻ thông tin cá nhân của Khách hàng tới nhóm các Công ty nằm trong Tập đoàn Egroup để nghiên cứu và giới thiệu tới Khách hàng những phẩm hàng hóa và dịch vụ tốt hơn tới từng cá nhân Khách hàng.Trong trường hợp Khách hàng không muốn chia sẻ thông tin, Point Avenue hoàn toàn đồng ý khi nhận được yêu cầu từ Khách hàng.</li>
						<li style="font-size: 14px;">Point Avenue có thể tiết lộ thông tin cá nhân của khách hàng theo yêu cầu của luật sư cũng như cơ quan chức năng có thẩm quyền.</li>
						<li style="font-size: 14px;">Nếu Point Avenue tham gia vào sát nhập hoặc được mua lại một phần hay toàn bộ tài , khách hàng sẽ được thông báo qua email hoặc qua tin tức chính thức trên trang web của Point Avenue về bất kì sự thay đổi quyền sở hữu hoặc sử dụng thông tin cá nhân của khách hàng, cũng như bất kỳ quyền của khách hàng nào liên quan đến thông tin cá nhân của khách hàng, tới bất kì bên thứ 3 nào với sự đồng ý của khách hàng.</li>
						<li style="font-size: 14px;">Point Avenue và các đối tác sử dụng Cookies để ghi nhớ thông tin khách hàng khi bạn truy cập vào trang web. Cookies là một mẩu thông tin mà trang web lưu trữ lại ở trình duyệt máy tính hoặc trên ổ cứng của khách hàng khi khách hàng truy cập vào trang web bất kỳ.</li>
						<li style="font-size: 14px;">Point Avenue sử dụng dịch vụ của bên thứ 3 để giám sát tính hữu dụng của công ty để theo dõi hành vi khách hàng truy cập vào trang web của chúng tôi. Tuy nhiên, chúng tôi không có quyền tham gia hoặc điều chỉnh Cookies của họ. Thông tin chúng tôi thu được thông qua sự theo dõi của bên thứ 3, hoàn toàn ẩn danh và sử dụng để cải thiện dịch vụ và hiệu quả marketing.</li>
						<li style="font-size: 14px;">Như hầu hết các trang web khác, chúng tôi tự động tổng hợp thông tin và lưu trữ trên tập tin lịch sử lưu trữ. Thông tin này bao gồm địa chỉ Internet, loại trình duyệt và ngôn ngữ, nhà cung cấp dịch vụ Internet, trang đến và trang đi, hệ thống vận hành, ngày tháng và thông tin về click chuột. Chúng tôi sử dụng thông tin này để tìm hiểu và phân tích xu hướng, để quản trị trang web đồng thời nghiên cứu hành vi khách hàng, thu thập thông tin cá nhân của người dùng.</li>
					</ul>
				</div>
			</section>

			<section class="team_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Thay đổi về chính sách</h3>
					<div class="text s_desc">
						Một số đề mục trong chính sách bảo mật của Point Avenue có thể thay đổi. Nếu chúng tôi quyết định thay đổi cách thức thu thập, sử dụng hoặc chia sẻ thông tin, chúng tôi sẽ thương mại hoá các bước để thông báo tới các thành viên bằng email và giải trình sự thay đổi đó và đưa ra lựa chọn có cho phép hay không việc sử dụng thông tin cá nhân của khách hàng trên các thay đổi mới. Nếu bạn có bất kì câu hỏi nào về hệ thống chính sách, hoặc bất kỳ thắc mắc về Point Avenue, vui lòng liên hệ với chúng tôi theo thông tin sau để được hỗ trợ kịp thời.<br /><br />

					</div>
				</div>
			</section>
		</div>
		<!--container :: end-->
    <%- include("partials/footer-vn") %>
		<%- include("partials/common_popup") %>
</div>
<%- include("partials/body_end") %>