<%- include("partials/head_start") %>
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/layout.css">
<link rel="stylesheet" type="text/css" href="/css/sub.css">

<script language="JavaScript" type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/swiper.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/common.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sub/admission-consulting/admission-consulting.js"></script>

<%- include("partials/head_end") %>
<%- include("partials/body_start") %>

<div class="wrap sub point_avenue_tv">
  <%- include("partials/gnb") %>
  <!-- container :: start -->
		<div class="container">
			<section class="visual_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01">POINT AVENUE TV</h2>
					</div>
				</div>
			</section>
			<section class="spotlight_wrap">
				<div class="section_inner">
					<div class="grid_type_wrap_01">
						<div class="main_article">
							<div class="article_box">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/Hd2h6NDtoPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<a href="https://www.youtube.com/watch?v=727aTb5tZDM" target="_blank">
									<h3 class="title_r_02 section_title_02">Lorem ipsum dolor sit amet</h3>
									<p class="text--gray">Over the past few days, Point Avenue has been bustling with joy when our students broke the news about their August SAT exam results. Of the 20 Point Avenue students who took part in this test, 13 students achieved a score of 1400/1600 and above. What’s more, 6 of them achieved an excellent […]</p>
								</a>
							</div>
						</div>
						<div class="sub_article">
							<h3 class="title_r_02 section_title">Spotlight</h3>
							<ul>
								<li>
									<div class="video_box">
										<iframe src="https://www.youtube.com/embed/Hd2h6NDtoPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
									<div class="text_box">
										<p class="text--gray date">03/07/2021</p>
										<p class="text--gray duration">Duration: XX:XX</p>
										<p class="title_r_03"><a href="https://www.youtube.com/watch?v=727aTb5tZDM" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a> </p>
									</div>
								</li>
								<li>
									<div class="video_box">
										<iframe src="https://www.youtube.com/embed/Hd2h6NDtoPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
									<div class="text_box">
										<p class="text--gray date">03/07/2021</p>
										<p class="text--gray duration">Duration: XX:XX</p>
										<p class="title_r_03"><a href="https://www.youtube.com/watch?v=727aTb5tZDM" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a> </p>
									</div>
								</li>
								<li>
									<div class="video_box">
										<iframe src="https://www.youtube.com/embed/Hd2h6NDtoPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
									<div class="text_box">
										<p class="text--gray date">03/07/2021</p>
										<p class="text--gray duration">Duration: XX:XX</p>
										<p class="title_r_03"><a href="https://www.youtube.com/watch?v=727aTb5tZDM" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a> </p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			
			<section class="tip_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Admissions Tip</h3>
					<ul class="box_type_01 courses_list video_list">
						<li class="box_type_01--item courses_item">
							<div class="box_type_01--video">
								<iframe src="https://www.youtube.com/embed/Hd2h6NDtoPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="box_type_01--desc courses_desc_box">
								<div class="info">
									<p class="date">16/3/2021</p>
									<p class="duration">Duration: 03:00</p>
								</div>
								<a href="https://www.youtube.com/watch?v=Hd2h6NDtoPc" target="_blank">
									<p class="title_r_03">Point Avenue - Steamology Team Introduction</p>
									<div class="desc_text">
										In preparation for Point Avenue’s upcoming Winter Intensive, our test prep instructors thought it essential to revisit our understanding of this fundamental skill and its relationship [...]
									</div>
								</a>
								<a href="https://www.youtube.com/watch?v=Hd2h6NDtoPc" target="_blank" class="btn_type_01--sec">
									<span class="btn_inner">Watch Now</span>
								</a>
							</div>
						</li>
						<li class="box_type_01--item courses_item">
							<div class="box_type_01--video">
								<iframe src="https://www.youtube.com/embed/Hd2h6NDtoPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="box_type_01--desc courses_desc_box">
								<div class="info">
									<p class="date">16/3/2021</p>
									<p class="duration">Duration: 03:00</p>
								</div>
								<a href="https://www.youtube.com/watch?v=Hd2h6NDtoPc" target="_blank">
									<p class="title_r_03">Point Avenue - Steamology Team Introduction</p>
									<div class="desc_text">
										In preparation for Point Avenue’s upcoming Winter Intensive, our test prep instructors thought it essential to revisit our understanding of this fundamental skill and its relationship [...]
									</div>
								</a>
								<a href="https://www.youtube.com/watch?v=Hd2h6NDtoPc" target="_blank" class="btn_type_01--sec">
									<span class="btn_inner">Watch Now</span>
								</a>
							</div>
						</li>
						<li class="box_type_01--item courses_item">
							<div class="box_type_01--video">
								<iframe src="https://www.youtube.com/embed/Hd2h6NDtoPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="box_type_01--desc courses_desc_box">
								<div class="info">
									<p class="date">16/3/2021</p>
									<p class="duration">Duration: 03:00</p>
								</div>
								<a href="https://www.youtube.com/watch?v=Hd2h6NDtoPc" target="_blank">
									<p class="title_r_03">Point Avenue - Steamology Team Introduction</p>
									<div class="desc_text">
										In preparation for Point Avenue’s upcoming Winter Intensive, our test prep instructors thought it essential to revisit our understanding of this fundamental skill and its relationship [...]
									</div>
								</a>
								<a href="https://www.youtube.com/watch?v=Hd2h6NDtoPc" target="_blank" class="btn_type_01--sec">
									<span class="btn_inner">Watch Now</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</section>
			
			<section class="at_point_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">What's on at Point Avenue</h3>
					<ul class="box_type_01 courses_list video_list">
						<li class="box_type_01--item courses_item">
							<div class="box_type_01--video">
								<iframe src="https://www.youtube.com/embed/Hd2h6NDtoPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="box_type_01--desc courses_desc_box">
								<div class="info">
									<p class="date">16/3/2021</p>
									<p class="duration">Duration: 03:00</p>
								</div>
								<a href="https://www.youtube.com/watch?v=Hd2h6NDtoPc" target="_blank">
									<p class="title_r_03">Point Avenue - Steamology Team Introduction</p>
									<div class="desc_text">
										In preparation for Point Avenue’s upcoming Winter Intensive, our test prep instructors thought it essential to revisit our understanding of this fundamental skill and its relationship [...]
									</div>
								</a>
								<a href="https://www.youtube.com/watch?v=Hd2h6NDtoPc" target="_blank" class="btn_type_01--sec">
									<span class="btn_inner">Watch Now</span>
								</a>
							</div>
						</li>
						<li class="box_type_01--item courses_item">
							<div class="box_type_01--video">
								<iframe src="https://www.youtube.com/embed/Hd2h6NDtoPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="box_type_01--desc courses_desc_box">
								<div class="info">
									<p class="date">16/3/2021</p>
									<p class="duration">Duration: 03:00</p>
								</div>
								<a href="https://www.youtube.com/watch?v=Hd2h6NDtoPc" target="_blank">
									<p class="title_r_03">Point Avenue - Steamology Team Introduction</p>
									<div class="desc_text">
										In preparation for Point Avenue’s upcoming Winter Intensive, our test prep instructors thought it essential to revisit our understanding of this fundamental skill and its relationship [...]
									</div>
								</a>
								<a href="https://www.youtube.com/watch?v=Hd2h6NDtoPc" target="_blank" class="btn_type_01--sec">
									<span class="btn_inner">Watch Now</span>
								</a>
							</div>
						</li>
						<li class="box_type_01--item courses_item">
							<div class="box_type_01--video">
								<iframe src="https://www.youtube.com/embed/Hd2h6NDtoPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="box_type_01--desc courses_desc_box">
								<div class="info">
									<p class="date">16/3/2021</p>
									<p class="duration">Duration: 03:00</p>
								</div>
								<a href="https://www.youtube.com/watch?v=Hd2h6NDtoPc" target="_blank">
									<p class="title_r_03">Point Avenue - Steamology Team Introduction</p>
									<div class="desc_text">
										In preparation for Point Avenue’s upcoming Winter Intensive, our test prep instructors thought it essential to revisit our understanding of this fundamental skill and its relationship [...]
									</div>
								</a>
								<a href="https://www.youtube.com/watch?v=Hd2h6NDtoPc" target="_blank" class="btn_type_01--sec">
									<span class="btn_inner">Watch Now</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</section>
			
			<section class="youtube_wrap">
				<div class="section_inner">
					<h3 class="title_r_02">For more videos, visit Our Youtube Channel!</h3>
					<a href="#" class="btn_type_01--sec">
						<span class="btn_inner">Visit Now</span>
					</a>
				</div>
			</section>
		</div>
		<!--container :: end-->
    <%- include("partials/footer") %>
		<%- include("partials/common_popup") %>
</div>
<%- include("partials/body_end") %>