<%- include("../partials/head_start") %>
<title>Summer Day Camp - Point Avenue</title>
<meta name="keywords" content="Camp, Summer Day Camp, Point Avenue">
<meta name="title" content="Summer Day Camp - Point Avenue">
<meta property="og:title" content="Summer Day Camp - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<script>
  const teamMembers = <%- JSON.stringify(teamMembers) %>;
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-day-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub day_camp">
  <%- include("../partials/gnb") %>
	<!-- container :: start -->
	<div class="container">
		<section class="banner_block">
			<video
				autoPlay={true}
				playsInline={true}
				loop={true}
				id="myVideo"
				muted={true}
			>
				<source
					src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/netflix/video/CampYenTu.mp4"
					type="video/mp4"
				/>
			</video>
			<div class="shadow-top"></div>
			<div class="shadow-bottom"></div>
			<!-- <img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/bg_summer_camp.png"> -->
			<div
				class="absolute text-white w-1/3 label_banner"
			>
				<p class="title">INTERNATIONAL</p>
				<div class="camp">
					<span class="label">SUMMER DAY CAMPS</span>
				</div>
				<a href="#register">
					<p class="read-more">
						<span>READ </span>
						<span class="button-hover">MORE</span>
					</p>
				</a>
			</div>
			<div class="menu">
				<div class="menu-item">Point Avenue</div>
				<a href="#experience">
					<div class="menu-item">Programs</div>
				</a>
				<a href="#mentor">
					<div class="menu-item">Mentors</div>
				</a>
				<a href="#offer">
					<div class="menu-item">Offer</div>
				</a>
			</div>
			
		</section>
		<div class="main">
			<section class="campaign" id="campaign">
				<div class="block-1">
					<p>
						<span>ABOUT</span> THE DAY CAMP
					</p>
				</div>
				<div class="block-2">
					<div class="content">
						<div class="box">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/day/about-day-camp-1.png">
							<p class="title-camp">“Future You” Summer Day Camp</p>
							<p class="desc" style="margin-bottom: 10px;">For students 5 - 10 years old</p>
							<p class="desc">
								"Future You"" Summer Day Camp  is an opportunity for your child to build confidence, think critically, stretch creativity, and learn about themselves and become “Future You” - the best version of themselves. The program has been designed by experts to enable participants to Imagine, Explore & Move through hands-on activities, interactive learning, and exciting projects that enrich their summer vacation to the next level.</p>
						</div>
						<div class="box">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/day/about-day-camp-2.png">
							<p class="title-camp">Debate Intensive Summer Camp</p>
							<p class="desc" style="margin-bottom: 10px;">For students 9-14 years old</p>
							<p class="desc">
								This summer break, receive top-notch instruction from Head Coach of Team Vietnam for World Schools Debating Championships at Debate Day Camp. The intensive camp provides students with the abilities to use debate as a tool to develop their capacity to think critically, communicate effectively, collaborate with others, and create solutions to an ever-changing world.
							</p>
						</div>
						<div class="box">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/day/about-day-camp-3.png">
							<p class="title-camp">“Future You” Summer Day Camp</p>
							<p class="desc" style="margin-bottom: 10px;">For students 5 - 10 years old</p>
							<p class="desc">
								"Future You"" Summer Day Camp  is an opportunity for your child to build confidence, think critically, stretch creativity, and learn about themselves and become “Future You” - the best version of themselves. The program has been designed by experts to enable participants to Imagine, Explore & Move through hands-on activities, interactive learning, and exciting projects that enrich their summer vacation to the next level.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="objectives" id="objectives">
				<div class="block-1">
					<p>
						LEARNING <span>OBJECTIVES</span>
					</p>
				</div>
				<div class="block-2">
					<div class="content">
						<div class="box">
							<img style="width: 4rem;" src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/ic_leadership.png" alt="" class="icon-pc">
							<div class="desc">
								<div class="dot"></div>
								<p>Expand vocabulary through "Reading Adventure" and "Writing Project"</p>
							</div>
							<div class="desc">
								<div class="dot"></div>
								<p>Enrich knowledge about the world, learn to deal with conflicts through "Nature Warriors"</p>
							</div>
							<div class="desc">
								<div class="dot"></div>
								<p>Do "Physical Exercise" every day to improve their health </p>
							</div>
							<div class="desc">
								<div class="dot"></div>
								<p>Exciting field trip to strengthen observation and perception skills.</p>
							</div>
						</div>
						<div class="box">
							<img style="width: 4rem;" src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/ic_physical.png" alt="" class="icon-pc">
							<div class="desc">
								<div class="dot"></div>
								<p>"Debate for Change" course: Analyze, discuss, debate, and present solutions to achieve  </p>
							</div>
							<div class="desc">
								<div class="dot"></div>
								<p>Sustainable Development Goals (SDGs) </p>
							</div>
							<div class="desc">
								<div class="dot"></div>
								<p>"MSHS Debate Beginner" course: Introduce and equip student with the necessary skills to begin competitive parliamentary-style debating</p>
							</div>
						</div>
						<div class="box">
							<img style="width: 4rem;" src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" alt="" class="icon-pc">
							<div class="desc">
								<div class="dot"></div>
								<p>Explore important test-taking strategies to understand the different question types  </p>
							</div>
							<div class="desc">
								<div class="dot"></div>
								<p>SAT: 9 Reading Concepts, 12 Writing Concepts, and 12 Math Concepts 
									TOEFL: 9 Reading Concepts, 6</p>
							</div>
							<div class="desc">
								<div class="dot"></div>
								<p>IELTS: Use 4 IELTS skilss as catalysts for language development </p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="mentor" id="mentor">
				<div class="block-1">
					<p>
						MEET OUR <span>TEAM</span>
					</p>
					<div class="box-navigation">
						<div
							class="box swiper-button-prev-mentor"
						>
							<div class="ic-next"></div>
						</div>
						<div
							class="box swiper-button-next-mentor"
						>
							<div class="ic-prev"></div>
						</div>
					</div>
				</div>
				<div class="block-2">
					<div class="team_wrap">
						<div class="section_inner">
						<div class="swipe_type_01_wrap">
							<div class="swiper mySwiperMentors">
								<div class="swiper-wrapper">
									<% for ( let i = 0; i < teamMembers.length; i++) { %>
										<div class="swiper-slide">
											<div class="swipe_type_01--img team_img">
												<div class="img_box">
													<img src="<%= teamMembers[i].img %>" alt="<%= teamMembers[i].img %>">
												</div>
											</div>
											<div class="swipe_type_01--desc team_desc_box">
												<div class="bg"></div>
												<div class="info">
													<p class="name"><%= teamMembers[i].name %></p>
													<div class="position"><%= teamMembers[i].position %></div>
													<div class="ex"><%= teamMembers[i].desc %></div>
												</div>
											</div>
										</div>
									<% } %>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						</div>
					</div>
					
					</div>
					<div class="block-description">
						<p>
							Graduates of West Point, Harvard, Cambridge, Johns Hopkins, UPenn, Northwestern, UC Berkeley, UCLA, and more
						</p>
						<p>
							Held strategic positions in Fortune 500 companies
						</p>
						<p>
							25 years of experience operating boarding and day camps
						</p>
						<p>
							Debate training developed by the Head Coach of World Schools Debating Championships (WSDC) Vietnam National Team

						</p>
					</div>
				</div>
			</section>
			<section class="offer" id="offer">
				<div class="block-1">
					<p class="title">SPECIAL <span>OFFERS</span></p>
				</div>
				<div class="block-2">
					<div class="block-pc">
						<div class="box-text">
							<p class="title">BUNDLE OFFER</p>
							<span class="amount">12,000,000</span>
						</div>
						<div class="bg">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/day/offer.png">
							<div class="box-content">
								<div class="box-1">
									<p class="text-offer text-thin">FREE BACKPACK & DISCOUNT</p>
									<p class="text-offer text-bold">10%</p>
									<p class="text-offer text-thin">BEFORE:</p>
									<p class="text-offer text-bold">30/04/2022</p>
								</div>
							</div>
						</div>
					</div>
					<div class="block-mobile">
						<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/bg-offer-mb.png">
						<div class="content">
							<div class="left">
								<p class="text-offer text-thin">DISCOUNT</p>
									<p class="text-offer text-bold">15%</p>
									<p class="text-offer text-thin">FOR GROUP OF</p>
									<p class="text-offer text-bold">15 CAMPERS</p>
							</div>
							<div class="right">
								<p class="text-thin">BUNDLE OFFER</p>
								<span class="text-bold amount">18,000,000</span>
								<p class="text-offer text-thin">Free Luggage & Discount</p>
								<p class="text-offer text-bold">10%</p>
							</div>
						</div>
						<div class="background"></div>
					</div>
				</div>
			</section>
			<section class="register" id="register">

			<div class="register-logo">
				<div class="logo-title">
					<p class="title">REGISTER 
					</p>
					<span>
						NOW	
					</span>
				</div>
				<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/day/register.png">
			</div>		
			<div class="register-container">
				<form id="register-form" class="register-form" method="POST" action="/camp/summer-boarding-camp">
					<input class="form-control" placeholder="First Name*" id="firstName" name="firstName" required>
					<input class="form-control" placeholder="Last Name*"  id="lastName" name="lastName" required>
					<input class="form-control" placeholder="Email*"  id="email" name="email" required type="email">
					<input class="form-control" placeholder="Mobile Number*"  id="phoneNumber" name="phoneNumber">
					<input class="form-control" placeholder="Your Child Name"  id="childName" name="childName">
					<input class="form-control" placeholder="Student's Grade & School*"  id="grade" name="grade" required>
					<button class="read-more" type="submit" onclick="submitForm()">
						<span>Sign</span>
						<span class="button-hover">Up</span>
					</button>
				</form>
			<div>			
			</section>
		</div>

		
		<%- include("../partials/common_popup") %>

	</div>
	<!--container :: end-->
    <%- include("../partials/footer") %>
		<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>

