<%- include("../partials/head_start") %>
<title>Summer Boarding Camp - Point Avenue</title>
<meta name="keywords" content="Camp, Summer Boarding Camp, Point Avenue">
<meta name="title" content="Summer Boarding Camp - Point Avenue">
<meta property="og:title" content="Summer Boarding Camp - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<%- include("../partials/common_scripts") %>
<script>
  const teamMembers = <%- JSON.stringify(teamMembers) %>;
</script>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-boarding-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub boarding_camp summer">
  <%- include("../partials/gnb") %>
  <!-- container :: start -->
		<div class="container">
			<section class="banner_block">
				<!-- <video
					autoPlay={true}
					playsInline={true}
					loop={true}
					id="myVideo"
					muted={true}
				>
					<source
						src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/netflix/video/CampYenTu.mp4"
						type="video/mp4"
					/>
				</video> -->
				<div class="shadow-top"></div>
				<div class="shadow-bottom"></div>
				<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/bg_summer_camp.png">
				<div
					class="absolute text-white w-1/3 label_banner"
				>
					<p class="title">SUMMER LEADERS</p>
					<div class="camp">
						<span class="label">CAMP</span>
					</div>
					<p class="description">
						Built from premium West Point, Cambridge </br>
						and American Ivy League educational knowledge </br>
						our premier boarding camp program is a life-changing opportunity </br>
						that inspires personal growth and leadership development.
					</p>
					<a href="#register">
						<p class="read-more">
							<span>LEARN </span>
							<span class="button-hover">MORE</span>
						</p>
					</a>
				</div>
				<div class="menu">
					<div class="menu-item">Point Avanue</div>
					<div class="menu-item">Programs</div>
					<div class="menu-item">Camp</div>
					<div class="menu-item">Admissions Consulting</div>
				</div>
				
			</section>
			<div class="main">
				<section class="campaign">
					<div class="block-1">
						<p>
							<span>CAMP</span></br>
							LEADERSHIP </br>
							PHILOSOPHY </br>
						</p>
						<div class="box-navigation">
							<div
								class="box swiper-button-prev"
							>
								<div class="ic-next"></div>
							</div>
							<div
								class="box swiper-button-next"
							>
								<div class="ic-prev"></div>
							</div>
						</div>
					</div>
					<div class="block-2">
							<div class="swipe_image">
								<div class="section_inner">
								<div class="swipe_type_01_wrap">
									<div class="swiper-container">
										<ul class="swiper-wrapper">
											<li class="swiper-slide">
												<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/academic-rigor.jpg" alt="">
												<div class="alt-img"><p>Academic Rigor</p></div>
											</li>
											<li class="swiper-slide">
												<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/personal-healthy.jpeg" alt="">
												<div class="alt-img"><p>Personal Health</p></div>
											</li>
											<li class="swiper-slide">
												<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/global-citizenry.jpg" alt="">
												<div class="alt-img"><p>Global Citizenry</p></div>
											</li>
											<li class="swiper-slide">
												<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/character.jpg" alt="">
												<div class="alt-img"><p>Character</p></div>
											</li>
										</ul>
									</div>
								</div>
						</div>
						
						</div>
						<div class="block-description">
							<p>
								Campers will participate in invaluable programs and activities that
								embody our four pillars of leadership: academic courses,
								life-coaching, fitness, community service, daily healthy habits,
								nature, exploration, sports, arts, peer leadership, and more!
							</p>
							<a href="#register">
								<p class="read-more">
									<span>REGISTER </span>
									<span class="button-hover">NOW</span>
								</p>
							</a>
							
						</div>
					</div>
				</section>
				<section class="mentor">
					<div class="block-1">
						<p>
							OUR</br>
							INTERNATIONAL </br>
							<span>MENTORS</span> </br>
						</p>
						<div class="box-navigation">
							<div
								class="box swiper-button-prev"
							>
								<div class="ic-next"></div>
							</div>
							<div
								class="box swiper-button-next"
							>
								<div class="ic-prev"></div>
							</div>
						</div>
					</div>
					<div class="block-2">
						<div class="team_wrap">
							<div class="section_inner">
							<div class="swipe_type_01_wrap">
								<div class="swiper-container">
									<ul class="swiper-wrapper">
										<% for ( let i = 0; i < teamMembers.length; i++) { %>
											<li class="swiper-slide">
												<div class="swipe_type_01--img team_img">
													<div class="img_box">
														<img src="<%= teamMembers[i].img %>" alt="<%= teamMembers[i].img %>">
													</div>
												</div>
												<div class="swipe_type_01--desc team_desc_box">
													<div class="bg"></div>
													<p class="name"><%= teamMembers[i].name %></p>
													<div class="position"><%= teamMembers[i].position %></div>
													<div class="ex"><%= teamMembers[i].desc %></div>
												</div>
											</li>
										<% } %>
									</ul>
								</div>
							</div>
						</div>
						
						</div>
						<div class="block-description">
							<p>
								Graduates of West Point, Harvard, Cambridge, Johns Hopkins, UPenn, Northwestern, UC Berkeley, UCLA, and more.</br>
								25 years of experience operating boarding and day camps
							</p>
						</div>
					</div>
				</section>
				<section class="experience">
					<div class="block-1">
						<p>
							WHAT</br>CAMPERS</br> WILL</br>
							<span>EXPERIENCE</span>
						</p>
					</div>
					<div class="block-2">
						<div class="boxDetail">
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">LEADERSHIP</p>
									<img style="width: 4rem;" src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/ic_leadership.png" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										<span>Personal Growth:</span>
										Physical training, health and wellness, camp
										challenges, and life coaching
										</p>
									<p class="description">
										<span>Others Mindset:</span> Team building, communication activities, and
										leadership roles
									</p>
									<p class="description">
										<span>Community Focused:</span> Compassion, global citizenry, and community
										involvement
									</p>
									<p class="description">
										<span>Sustainable Change:</span> Farming, habit building, and experiential
										education
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">ACADEMIC</p>
									<div class="ic-academic"></div>
									<img style="width: 4rem;" src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										<span>Class 1:</span> Life Coaching - Interpersonal Skills and Building
										Positive Relationships
									</p>
									<p class="description">
										<span>Focus:</span> Interpersonal skills, critical thinking, and public
										speaking
									</p>
									<p class="description">
										<span>Class 2:</span> Global Citizens - Zero Hunger
									</p>
									<p class="description">
										<span>Focus:</span> Compassion, character, and team presentation skills
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">PHYSICAL FITNESS</p>
									<img  style="width: 4rem;" src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/ic_physical.png" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Plyometrics, body workouts, Fitness technique coaching
									</p>
									<p class="description">
										<span>Team Sports:</span> Volleyball, American football, basketball
									</p>
									<p class="description">
										<span>PA’s Physical Fitness Award:</span> Initial and final fitness test
									</p>
									<p class="description">
										A full day hike leveled for children of all ages!
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">SAFETY & NUTRITION MEASUREMENT</p>
									<img style="width: 4rem;" src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/ic_safety.png" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Point Avenue provides Accident Insurance to all registered
										students.
									</p>
									<p class="description">
										A Registered Nurse (RN) will be on-site 24/7.
									</p>
									<p class="description">
										Students will be provided three nutritious meals each day with
										carbohydrates, protein, and fresh vegetables. Meals will include
										Vietnamese (50%), Korean (25%), and Western (25%) food options.
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="offer">
					<div class="block-1">
						<p class="title">OUR <span>OFFERS</span></p>
					</div>
					<div class="block-2">
						<div class="box-text">
							<p class="title">BUNDLE OFFER</p>
							<span class="amount">18,000,000</span>
						</div>
						<div class="box-content">
							<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/bg-offer.png">
						</div>
					</div>
				</section>
				<section class="info_input_wrap" id="register">
					<p class="title">REGISTER NOW</p>
					<p class="title_r_03 s_title">Registration for 2022 Summer Boarding Camp sessions is officially opening with early bird discount.  Please sign up to find out more information.</p>
					
					<div class="typeform-widget" data-url="https://pointavenue1.typeform.com/to/ZPiyjjew?typeform-source=www.google.com" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
				</section>
			</div>
			
			<%- include("../partials/common_popup") %>

		</div>
    <%- include("../partials/footer") %>
</div>
    <%- include("../partials/body_end") %>