<%- include("../partials/head_start") %>
<title>Summer Boarding Camp - Point Avenue</title>
<meta name="keywords" content="Camp, Summer Boarding Camp, Point Avenue">
<meta name="title" content="Summer Boarding Camp - Point Avenue">
<meta property="og:title" content="Summer Boarding Camp - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<%- include("../partials/common_scripts") %>
<script>
  const teamMembers = <%- JSON.stringify(teamMembers) %>;
</script>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-boarding-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub boarding_camp summer">
  <%- include("../partials/gnb") %>
  <!-- container :: start -->
		<div class="container">
			<section class="banner_block">
				<video
					autoPlay={true}
					playsInline={true}
					loop={true}
					id="myVideo"
					muted={true}
				>
					<source
						src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/netflix/video/CampYenTu.mp4"
						type="video/mp4"
					/>
				</video>
				<div
					class="absolute text-white w-1/3 label_banner"
				>
					<p class="title">"SUMMER LEADERS CAMP"</p>
					<p class="description">
						Built from premium West Point, Cambridge, and American Ivy League
						educational knowledge, our premier boarding camp program is a
						life-changing opportunity that inspires personal growth and leadership
						development.
					</p>
					<p class="read-more">
						<span>READ </span>
						<span class="button-hover">MORE</span>
					</p>
				</div>
			</section>
			<section class="campaign">
				<div class="block-1">
					<p>
						<span style="font-weight: bold;">CAMP </span>
						<span>LEADERSHIP</span>
					</p>
					<span>PHILOSOPHY</span>
					<div class="box-navigation">
						<div
							class="box swiper-button-prev"
						>
							<div class="ic-next"></div>
						</div>
						<div
							class="box swiper-button-next"
						>
							<div class="ic-prev"></div>
						</div>
					</div>
				</div>
				<div class="block-2">
						<div class="swipe_image">
							<div class="section_inner">
							<div class="swiper-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide">
										<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/academic-rigor.jpg" alt="">
									</li>
									<li class="swiper-slide">
										<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/personal-healthy.jpg" alt="">
									</li>
									<li class="swiper-slide">
										<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/global-citizenry.jpg" alt="">
									</li>
									<li class="swiper-slide">
										<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/character.jpg" alt="">
									</li>
								</ul>
							</div>
					</div>
					
					</div>
					<div class="block-description">
						<p>
							Campers will participate in invaluable programs and activities that
							embody our four pillars of leadership: academic courses,
							life-coaching, fitness, community service, daily healthy habits,
							nature, exploration, sports, arts, peer leadership, and more!
						</p>
						<p class="read-more">
							<span>READ </span>
							<span class="button-hover">MORE</span>
						</p>
					</div>
				</div>
			</section>
			<section class="experience">
				<div class="block-1">
					<p>
						<span>WHAT CAMPERS WILL </span>
					</p>
					<span class="font-bold">EXPERIENCE</span>
				</div>
				<div class="block-2">
					<div class="boxDetail">
						<div
							class="boxExperience"
						>
							<div class="header">
								<p class="label">Leadership</p>
								<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/common/person_icon.png" alt="">
							</div>
							<div class="blockDescription">
								<p class="description">
									Personal Growth: Physical training, health and wellness, camp
									challenges, and life coaching
								</p>
								<p class="description">
									Others Mindset: Team building, communication activities, and
									leadership roles
								</p>
								<p class="description">
									Community Focused: Compassion, global citizenry, and community
									involvement
								</p>
								<p class="description">
									Sustainable Change: Farming, habit building, and experiential
									education
								</p>
							</div>
						</div>
						<div
							class="boxExperience"
						>
							<div class="header">
								<p class="label">ACADEMIC</p>
								<div class="ic-academic"></div>
								<!-- <img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/common/person_icon.png" alt=""> -->
							</div>
							<div class="blockDescription">
								<p class="description">
									Class 1: Life Coaching - Interpersonal Skills and Building
									Positive Relationships
								</p>
								<p class="description">
									Focus: Interpersonal skills, critical thinking, and public
									speaking
								</p>
								<p class="description">
									Class 2: Global Citizens - Zero Hunger
								</p>
								<p class="description">
									Focus: Compassion, character, and team presentation skills
								</p>
							</div>
						</div>
						<div
							class="boxExperience"
						>
							<div class="header">
								<p class="label">PHYSICAL FITNESS</p>
								<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/common/person_icon.png" alt="">
							</div>
							<div class="blockDescription">
								<p class="description">
									Plyometrics, body workouts, Fitness technique coaching
								</p>
								<p class="description">
									Team Sports: Volleyball, American football, basketball
								</p>
								<p class="description">
									PA’s Physical Fitness Award: Initial and final fitness test
								</p>
								<p class="description">
									A full day hike leveled for children of all ages!
								</p>
							</div>
						</div>
						<div
							class="boxExperience"
						>
							<div class="header">
								<p class="label">SAFETY & NUTRITION MEASUREMENT</p>
								<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/common/person_icon.png" alt="">
							</div>
							<div class="blockDescription">
								<p class="description">
									Point Avenue provides Accident Insurance to all registered
									students.
								</p>
								<p class="description">
									A Registered Nurse (RN) will be on-site 24/7.
								</p>
								<p class="description">
									Students will be provided three nutritious meals each day with
									carbohydrates, protein, and fresh vegetables. Meals will include
									Vietnamese (50%), Korean (25%), and Western (25%) food options.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="timeline">
				<div class="block-1">
					<span class="font-bold">TIMELINE</span>
				</div>
				<div class="block-2">
					<div class="ic-next">
						<div class="box-timeline box-timeline-1">
							<span>06:15</span>
							<span class="desc">Line up</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-2">
							<span>07:00</span>
							<span class="desc">Fitness Activities / Farming</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-3">
							<span>10:30</span>
							<span class="desc">Room Inspection</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-4">
							<span>11:30</span>
							<span class="desc">Lunch</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-5">
							<span>12:15</span>
							<span class="desc">Cultural Explorer / Leadership</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-6">
							<span>15:00</span>
							<span class="desc">Skill Building / Activities</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-7">
							<span>18:15</span>
							<span class="desc">Physical Training / Academic class</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-8">
							<span>19:30</span>
							<span class="desc">Social Activity / Intentional Time</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-9">
							<span>21:30</span>
							<span class="desc">Light out</span>
							<div class="line"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="offer">
				<div class="block-1">
					<span class="title">OUR OFFERS</span>
					<div class="box-img">
						<img style="margin-top: 3rem;" src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/running.jpg" alt="">
					</div>
					
				</div>
				<div class="block-2">
					<p class="title">Receive free luggage + 10% early bird offer when you apply before 30 April 2021 </p>
					<div class="detail">
						<div class="description">
							<div class="box"></div>
							<div class="label">10% group or sibling</div>
						</div>
						<div class="description">
							<div class="box"></div>
							<div class="label">10% returning campers</div>
						</div>
						<div class="description">
							<div class="box"></div>
							<div class="label">15% group of 15 campers</div>
						</div>
					</div>
				</div>
			</section>
			<section class="mentor">
				<div class="block-1">
					<span class="title">OUR INTERNATIONAL MENTORS</span>
				</div>
				<div class="block-2">
					<p class="title">Graduates of West Point, Harvard, Cambridge, Johns Hopkins, UPenn, Northwestern, UC Berkeley, UCLA, and more.</br>
						25 years of experience operating boarding and day camps
					</p>
					</p>
					<div class="section_inner">
						<%- include("../partials/team-members") %>
					</div>
				</div>
			</section>
			
			<!-- <section class="team_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Meet Our Team</h3>
					<p class="title_r_03 s_title">
						Point Avenue now operates in Vietnam, Thailand, and Singapore with
						more than 198 dedicated team members. We pride ourselves on the
						diversity, quality, and discipline of our mentors - many of whom are
						graduates from West Point, Cambridge, Harvard, Johns Hopkins, UCLA,
						and UVA.
					</p>
					<%- include("../partials/team-members") %>
				</div>
				
			</section> -->
			<%- include("../partials/common_popup") %>

		</div>
    <%- include("../partials/footer") %>
</div>
    <%- include("../partials/body_end") %>