<%- include("../partials/head_start") %>
<title>Summer Boarding Camp - Point Avenue</title>
<meta name="keywords" content="Camp, Summer Boarding Camp, Point Avenue">
<meta name="title" content="Summer Boarding Camp - Point Avenue">
<meta property="og:title" content="Summer Boarding Camp - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<%- include("../partials/common_scripts") %>
<script>
  const teamMembers = <%- JSON.stringify(teamMembers) %>;
</script>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-boarding-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub boarding_camp summer">
  <%- include("../partials/gnb") %>
  <!-- container :: start -->
		<div class="container">
			<section class="banner_block">
				<video
					autoPlay={true}
					playsInline={true}
					loop={true}
					id="myVideo"
					muted={true}
				>
					<source
						src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/netflix/video/CampYenTu.mp4"
						type="video/mp4"
					/>
				</video>
				<div
					class="absolute text-white w-1/3 label_banner"
				>
					<p class="title">"SUMMER LEADERS CAMP"</p>
					<p class="description">
						Built from premium West Point, Cambridge, and American Ivy League
						educational knowledge, our premier boarding camp program is a
						life-changing opportunity that inspires personal growth and leadership
						development.
					</p>
				</div>
			</section>
			<section class="campaign">
				<div class="block-1">
					<p>
						<span>CAMP </span>
						<span style="font-weight: bold;">LEADERSHIP</span>
					</p>
					<span style="font-weight: bold;">PHILOSOPHY</span>
					<div class="box-navigation">
						<div
							class="box swiper-button-prev"
						>
							<div class="ic-next"></div>
						</div>
						<div
							class="box swiper-button-next"
						>
							<div class="ic-prev"></div>
						</div>
					</div>
				</div>
				<div class="block-2">
						<div class="swipe_image">
							<div class="section_inner">
							<div class="swiper-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide">
										<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/academic-rigor.jpg" alt="">
									</li>
									<li class="swiper-slide">
										<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/personal-healthy.jpg" alt="">
									</li>
									<li class="swiper-slide">
										<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/global-citizenry.jpg" alt="">
									</li>
									<li class="swiper-slide">
										<img src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/character.jpg" alt="">
									</li>
								</ul>
							</div>
					</div>
					
					</div>
					<div class="block-description">
						<p>
							Campers will participate in invaluable programs and activities that
							embody our four pillars of leadership: academic courses,
							life-coaching, fitness, community service, daily healthy habits,
							nature, exploration, sports, arts, peer leadership, and more!
						</p>
						<a href="#register">
							<p class="read-more">
								<span>LEARN </span>
								<span class="button-hover">MORE</span>
							</p>
						</a>
						
					</div>
				</div>
			</section>
			<section class="experience">
				<div class="block-1">
					<p>
						<span>WHAT CAMPERS WILL </span>
					</p>
					<span class="font-bold" style="font-weight: bold;">EXPERIENCE</span>
				</div>
				<div class="block-2">
					<div class="boxDetail">
						<div
							class="boxExperience"
						>
							<div class="header">
								<p class="label">LEADERSHIP</p>
								<img style="width: 4rem;" src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/asset_icon_01.png" alt="">
							</div>
							<div class="blockDescription">
								<p class="description">
									Personal Growth: Physical training, health and wellness, camp
									challenges, and life coaching
								</p>
								<p class="description">
									Others Mindset: Team building, communication activities, and
									leadership roles
								</p>
								<p class="description">
									Community Focused: Compassion, global citizenry, and community
									involvement
								</p>
								<p class="description">
									Sustainable Change: Farming, habit building, and experiential
									education
								</p>
							</div>
						</div>
						<div
							class="boxExperience"
						>
							<div class="header">
								<p class="label">ACADEMIC</p>
								<div class="ic-academic"></div>
								<img style="width: 4rem;" src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/asset_icon_02.png" alt="">
							</div>
							<div class="blockDescription">
								<p class="description">
									Class 1: Life Coaching - Interpersonal Skills and Building
									Positive Relationships
								</p>
								<p class="description">
									Focus: Interpersonal skills, critical thinking, and public
									speaking
								</p>
								<p class="description">
									Class 2: Global Citizens - Zero Hunger
								</p>
								<p class="description">
									Focus: Compassion, character, and team presentation skills
								</p>
							</div>
						</div>
						<div
							class="boxExperience"
						>
							<div class="header">
								<p class="label">PHYSICAL FITNESS</p>
								<img  style="width: 4rem;" src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/asset_icon_03.png" alt="">
							</div>
							<div class="blockDescription">
								<p class="description">
									Plyometrics, body workouts, Fitness technique coaching
								</p>
								<p class="description">
									Team Sports: Volleyball, American football, basketball
								</p>
								<p class="description">
									PA’s Physical Fitness Award: Initial and final fitness test
								</p>
								<p class="description">
									A full day hike leveled for children of all ages!
								</p>
							</div>
						</div>
						<div
							class="boxExperience"
						>
							<div class="header">
								<p class="label">SAFETY & NUTRITION MEASUREMENT</p>
								<img style="width: 4rem;" src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/asset_icon_04.png" alt="">
							</div>
							<div class="blockDescription">
								<p class="description">
									Point Avenue provides Accident Insurance to all registered
									students.
								</p>
								<p class="description">
									A Registered Nurse (RN) will be on-site 24/7.
								</p>
								<p class="description">
									Students will be provided three nutritious meals each day with
									carbohydrates, protein, and fresh vegetables. Meals will include
									Vietnamese (50%), Korean (25%), and Western (25%) food options.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="offer">
				<div class="block-1">
					<span class="title">OUR <span style="font-weight: bold;">OFFERS</span></span>
					<div class="box-img">
						<img style="margin-top: 3rem;" src="https://paathena-public-prod.s3.ap-southeast-1.amazonaws.com/pasite/images/sub/camp/summer/boarding/running.jpg" alt="">
					</div>
					
				</div>
				<div class="block-2">
					<p class="title">Receive free luggage + 10% early bird offer when you apply before 30 April 2021 </p>
					<div class="detail">
						<div class="description">
							<div class="box"></div>
							<div class="label">10% group or sibling</div>
						</div>
						<div class="description">
							<div class="box"></div>
							<div class="label">10% returning campers</div>
						</div>
						<div class="description">
							<div class="box"></div>
							<div class="label">15% group of 15 campers</div>
						</div>
					</div>
				</div>
			</section>
			<section class="team_wrap">
				<div class="section_inner">
					<p class="title">OUR <span style="font-weight: bold;font-size: 3rem;">INTERNATIONAL MENTORS</span></p>
					<p class="title_r_03 s_title">
						Graduates of West Point, Harvard, Cambridge, Johns Hopkins, UPenn, Northwestern, UC Berkeley, UCLA, and more. 25 years of experience operating boarding and day camps
					</p>
					<div class="swipe_type_01_wrap">
						<div class="swiper-container">
							<ul class="swiper-wrapper swipe_type_01 team_list">
								<% for ( let i = 0; i < teamMembers.length; i++) { %>
									<li class="swiper-slide swipe_type_01--item team_item <%= teamMembers[i].name %>">
										<a href="javascript:void(0);" 
											 data-id="<%= teamMembers[i].id %>" 
											 data-name="<%= teamMembers[i].name %>" 
											 data-position="<%= teamMembers[i].position %>" 
											 data-img="<%= teamMembers[i].img %>" 
										>
											<div class="swipe_type_01--img team_img">
												<div class="img_box">
													<img src="<%= teamMembers[i].img %>" alt="<%= teamMembers[i].name %>">
												</div>
											</div>
											<div class="swipe_type_01--desc team_desc_box">
												<p class="title_r_03"><%= teamMembers[i].name %></p>
												<div class="title_r_03--gray"><%= teamMembers[i].position %></div>
												<p class="desc"><%= teamMembers[i].desc %></p>
											</div>
										</a>
									</li>
								<% } %>
							</ul>
					
							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="info_input_wrap" id="register">
				<p class="title">REGISTER NOW</p>
				<div class="typeform-widget" data-url="https://pointavenue1.typeform.com/to/ZPiyjjew?typeform-source=www.google.com" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
			</section>
			<%- include("../partials/common_popup") %>

		</div>
    <%- include("../partials/footer") %>
</div>
    <%- include("../partials/body_end") %>